﻿#signin_menu {margin-top:18px; margin-right:4px;}
.img_air {position:relative;top:-2px;}
.pop_user_menu {margin:12px 0px 0px -131px;}
.zagolovok span {position:relative;top:-5px;}
.gray_submit {position:relative;top:-6px;}
.mesto_object {padding-bottom:0px;}
div.cabNavIn a {cursor:hand}
div.cabinet div.actions a.del {position:relative; top:-20px;}
div.cabinet div.actions a.more {position:relative; top:-20px;}
div.cabinet div.actions { margin-bottom:-25px;}
