.b-landding__inner{
    width: 940px;
    height: 578px;
    border-top: 2px solid #f78e14;
    background: #fff;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -470px;
    z-index: 9999;
    -moz-box-shadow:0px 0px 26px 7px #595959;
    -webkit-box-shadow:0px 0px 26px 7px #595959;
    box-shadow:0px 0px 26px 7px #595959;
}
.b-landing__overlay{
    background: #000;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;

    position: absolute;
    z-index: 9998;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

    .b-landding__inner .b-landing__padder{
         padding: 0;
    }
        .b-landding__inner .landing-logo{
            float: left;
            padding-left: 10px;
        }
        .b-landding__inner .b-project__description{
          float: left;
          width: 700px;
          padding-top: 15px;
          padding-left: 22px;
        }
            .b-landding__inner .b-project__description h1{
                 color: #040404;
                 font-size: 21px;
                 font-weight: bold;
                 padding-bottom: 7px;
                 line-height: 25px;
                 font-family: Arial,sans-serif;
            }
            .b-landding__inner .b-project__description p{
                line-height: 18px;
                font-size: 12px;
                color: #000;
            }
        .b-landding__inner .b-main-landing__navigation__inner{
            padding-top: 49px;
            padding-left: 211px;
            position: relative;
            background: url('../images/landing_popup/shadow-menu.png') 117px 28px no-repeat
        }

        .b-landding__inner .b-main-landing__navigation{


        }
        .b-landding__inner .b-tab_content{
            padding-left: 205px;
            height: 135px;
            position: relative;
            padding-bottom: 25px;
        }
        .b-landding__inner  .arrow{
            background: url('../images/landing_popup/arrows.png') no-repeat;
            position: absolute;
            width: 18px;
            height: 27px;
            top: 232px;
            display: block;
            cursor: pointer;
        }
        .b-landding__inner .arrow.left-arrow{
           left: 10px;
            background-position: 0px;
        }
        .b-landding__inner  .arrow.left-arrow:hover{
           background-position: -36px;
        }
        .b-landding__inner .arrow.right-arrow{
            right: 10px;
            background-position: -19px;
        }
        .b-landding__inner .arrow.right-arrow:hover{
            background-position: -55px;
        }
        .b-landding__inner .b-one-content {
            padding-top: 22px;
            padding-right: 55px;
            padding-left: 17px;
        }

            .b-landding__inner .b-one-content ul li{
                line-height: 16px;
                padding-bottom: 6px;
                font-size: 13px;
                color: #000;
                list-style: disc;
            }

                .b-landding__inner .b-one-content ul li b{
                    font-weight: bold;
                }

        .b-landding__inner .b-main-landing__navigation  {
            height: 30px;
        }

        .b-landding__inner .b-main-landing__navigation li{
            display: block;
            float: left;
            color: #2e3192;
            font-size: 16px;
            cursor: pointer;
            margin-right: 35px;
            padding-top: 5px;
        }

        .b-landding__inner .b-main-landing__navigation li.active, .b-landding__inner .b-goto_mainpage{
            color: #fff;
            background: #a4c717;
            cursor: auto;
            padding: 4px 13px;
            margin-right: 14px;
        }

        .b-landding__inner .b-main-landing__navigation li.active .landing-icon{
            display: block;
        }

            .b-landding__inner .b-main-landing__navigation  li .landing-icon{
                display: none;
                position: absolute;
                background: url('../images/landing_popup/beauty_icons.png') no-repeat;
                width: 142px;
                height: 123px;
                top: 63px;
                left: 50px;
            }

.           b-landding__inner .b-main-landing__navigation  li #one-icon{
                background-position: 0 0;
                top: 58px;
            }
            .b-landding__inner .b-main-landing__navigation  li #two-icon{
                background-position: -142px 0;
            }
            .b-landding__inner .b-main-landing__navigation  li #three-icon{
                background-position: -284px 0;
                top: 60px;
                left: 42px;
            }


    .b-landding__inner .b-sky_flexuous-horizont{
        background: url('../images/landing_popup/footer-rotator.png') repeat-x;
        height: 47px;
        color: #fff;
        font-size: 16px;
        padding-bottom: 25px;
     }
      .b-landding__inner .b-sky_flexuous-horizont .b-sky_flexuous-horizont__padder{
       padding: 13px 170px;
       line-height: 21px;
     }

    .b-landding__inner .b-sky_flexuous-horizont a{
        background: url('../images/landing_popup/house-rotator.png') 0 -2px no-repeat;
        display: block;
        padding-left: 40px;
        float: left;
        text-decoration: underline;
        color: #fff;
        font-size: 16px;
        line-height: 21px;
        height: 28px;
        padding-right: 6px;
     }
    .b-landding__inner .b-sky_flexuous-horizont a:hover{
        text-decoration: none;
     }
    .b-landding__inner .b-one-little-step{
       color: #0e0e0e;
       font-size: 16px;
        float: left;
        line-height: 26px;
    }
    .b-landding__inner .b-simple-steps{
      padding-left: 85px;
    }
    .b-landding__inner .b-steps__list {
        float: left;
        padding-left: 25px;
        padding-top: 2px;
     }
   .b-landding__inner .b-steps__list a{
       display: block;
       float: none;
       font-size: 14px;
       color: #2e3192;
       text-decoration: underline;
       line-height: 25px;
   }
    .b-landing__footer{
        padding-left: 215px;
        padding-top: 20px;
    }
    .b-landing__footer fieldset{
        padding-left: 21px;
        padding-top: 4px;

    }
     .b-landing__footer .b-goto_mainpage{
         width: 205px;
         float: left;
         margin-right: 0;
         color: #9fc602;
         margin-left: -3px;
         padding: 6px 15px;
         margin-top: -2px;
    }
    .b-landding__inner .b-steps__list a:hover, .b-landding__inner {
        text-decoration: none;
    }

    .b-landding__inner  .b-landing__footer .b-goto_mainpage a {
      color: #fff;
      text-decoration: none;
      font-size: 15px;
    }
.b-landing__footer .b-goto_mainpage a:hover {
    text-decoration: underline;
}
    .b-landding__inner ins.i-close{
       position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        background: url('../images/landing_popup/close_icon.png') no-repeat;
        width: 15px;
        height: 15px;
    }
    .b-landding__inner ins.i-close:hover{
        background-position:-15px ;
    }
    .b-landding__inner .b-dont-open__when-start label{
        padding-top: 2px;
        display: block;
        float: left;
    }
    .b-landding__inner .b-dont-open__when-start .fcheck01{
        float: left;
        margin-right: 8px;
    }
