#overlay {background-color:#000; cursor:wait;}

#admin-allow, #admin-disallow, #owner-change, #owner-delete, #mwindow, #info-window {display:none;}
#ocs .message label {position:relative; top:-2px; left: 7px;}
#ocs, #ods, #ims, #smwp 
{font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; background:#fff; border:1px solid #FFF; -moz-border-radius:10px 10px 10px 10px; border-radius:10px 10px 10px 10px;}
.header {height:30px; line-height:30px; width:100%; color:#444; font-weight:bold;}
.buttons div {float:left; margin-left:4px; width:76px; height:27px; font-weight:bold; font-size:14px; text-align:center; background:url(../images/modal/mw-yes.png); cursor:pointer;} 
.buttons div.no {background:url(../images/modal/mw-cancel.png) no-repeat; color:#fff;}
.buttons div.yes {color:#004B02}

#aas {height:130px; width:250px; font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; background:#fff; border:2px solid #000;}
#aas .header {height:30px; line-height:30px; width:100%; background:url(../images/modal/header.gif) repeat-x; color:#fff; font-weight:bold;}
#aas .header span {padding-left:8px;}
#aas .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px; text-align:center;}
#aas .buttons {line-height:26px; width:160px; margin:5px auto 0; padding:5px 10px;} 
#aas .buttons div {float:left; margin-left:4px; width:68px; height:26px; color:#fff; font-weight:bold; text-align:center; background:url(../images/modal/button.gif) repeat-x; border:1px solid #000; cursor:pointer;} 
#aas .buttons div.no {margin-left:16px;}
#aas a.x-close,
#aas a.x-close:link,
#aas a.x-close:active,
#aas a.x-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:2px; color:#fff;}
#aas a.x-close:hover {color:#ccc;}

#ads {height:250px; width:380px; font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; background:#fff; border:2px solid #000;}
#ads .header {height:30px; line-height:30px; width:100%; background:url(../images/modal/header.gif) repeat-x; color:#fff; font-weight:bold;}
#ads .header span {padding-left:8px;}
#ads .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px;}
#ads .message textarea {width:350px; height:100px;}
#ads .buttons {line-height:26px; width:220px; float:left; padding:10px 8px 0;} 
#ads .buttons div {float:left; margin-right:4px; width:100px; height:26px; color:#fff; font-weight:bold; text-align:center; background:url(../images/modal/button.gif) repeat-x; border:1px solid #000; cursor:pointer;} 
#ads a.x-close,
#ads a.x-close:link,
#ads a.x-close:active,
#ads a.x-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:2px; color:#fff;}
#ads a.x-close:hover {color:#ccc;}

#ais {height:160px; width:225px; font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; background:#fff; border:2px solid #000;}
#ais .header {height:30px; line-height:30px; width:100%; background:url(../images/modal/header.gif) repeat-x; color:#fff; font-weight:bold;}
#ais .header span {padding-left:8px;}
#ais .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px;}
#ais .buttons {line-height:26px; width:220px; float:left; padding:0 8px 0;} 
#ais .buttons div {float:left; margin-right:4px; width:100px; height:26px; color:#fff; font-weight:bold; text-align:center; background:url(../images/modal/button.gif) repeat-x; border:1px solid #000; cursor:pointer;} 
#ais a.x-close,
#ais a.x-close:link,
#ais a.x-close:active,
#ais a.x-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:2px; color:#fff;}
#ais a.x-close:hover {color:#ccc;}

#ocs {height:140px; width:250px;}
#ocs .h2eader {height:30px; line-height:30px; width:100%; background:url(../images/modal/header.gif) repeat-x; color:#fff; font-weight:bold;}
#ocs .header span {padding-left:8px;}
#ocs .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px;}
#ocs .buttons {line-height:26px; width:220px; float:left; padding:0 38px 0;} 
#ocs a.x-close,
#ocs a.x-close:link,
#ocs a.x-close:active,
#ocs a.x-close:visited {text-decoration:none; position:absolute; right:6px; top:6px; color:##EA0000;}

#ods {height:130px; width:250px;}
#ods .header span {padding-left:8px;}
#ods .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px; text-align:center;}
#ods .buttons {line-height:26px; width:166px; margin:5px auto 0; padding:5px 10px;} 
#ods a.x-close,
#ods a.x-close:link,
#ods a.x-close:active,
#ods a.x-close:visited {text-decoration:none; position:absolute; right:6px; top:6px; color:#fff;}

#ims {height:200px; width:300px;}
#ims .header span {padding-left:8px;}
#ims .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px; text-align:center; height:100px; min-height:100px;}
#ims .buttons {line-height:26px; width:290px; margin:5px auto 0; padding:5px 10px;} 
#ims .buttons div{margin-left:100px;} 
#ims a.x-close,
#ims a.x-close:link,
#ims a.x-close:active,
#ims a.x-close:visited {text-decoration:none; position:absolute; right:6px; top:6px; color:#fff;}

#smws {height:300px; width:400px; font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; background:#fff; border:2px solid #000;}
#smws .header {height:30px; line-height:30px; width:100%; background:url(../images/modal/header.gif) repeat-x; color:#fff; font-weight:bold;}
#smws .header span {padding-left:8px;}
#smws .message {color:#333; font-size:14px; margin:0; padding:12px 4px 12px 8px; text-align:left;}
#smws .buttons {line-height:26px; width:310px; margin:5px auto 0; padding:5px 10px;} 
#smws .buttons div {float:left; margin-left:110px; width:100px; height:26px; color:#fff; font-weight:bold; text-align:center; background:url(../images/modal/button.gif) repeat-x; border:1px solid #000; cursor:pointer;} 
#smws a.x-close,
#smws a.x-close:link,
#smws a.x-close:active,
#smws a.x-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:23px; top:2px; color:#fff;}
#smws a.x-close:hover {color:#ccc;}

#smwp {height:300px; width:400px;}
#smwp .header span {padding-left:8px;}
#smwp .message {color:#333; font-size:14px; margin:0; padding:12px 4px 2px 8px;}
#smwp .message textarea {width:350px; height:200px;}
#smwp .buttons {line-height:26px; width:166px; margin:5px auto 0; padding:5px 10px; float:left;} 
#smwp a.x-close,
#smwp a.x-close:link,
#smwp a.x-close:active,
#smwp a.x-close:visited {text-decoration:none; position:absolute; right:6px; top:6px; color:#fff;}
