body {font:12px Arial, Helvetica, sans-serif;}

#conteiner {width:570px; padding:10px 20px 10px 50px; border:1px solid #dcdcdc;}
	#header {width:100%; height:55px; margin-bottom:5px; background:url("/images/logo.png") no-repeat right 0;}
	#content {float:left; width:395px;}
		#content h1 {margin:0; font-size:20px;}
		span.date {color:#ababab;}
		table.price_table {border:none; border-collapse:collapse; margin-top:12px;}
		table.price_table td {padding:5px 10px; background-color:#ee9b00; color:#ffffff; white-space:nowrap;}
		#price {float:left; margin-top:12px; padding:5px 10px; background-color:#ee9b00; color:#ffffff; white-space:nowrap;}
		#table {margin-top:20px;margin-bottom:20px;}
		#details-title-box {height:20px; margin-bottom:10px; background:url(/images/line.png) repeat-x 0 70%;}
		#details-title {float:left; width:176px; height:20px; margin:0; padding:0; background-color:#ffffff; font-size:14px; font-weight:bold; z-index:100;}
	#right {float:right; width:160px; text-align:right;}
		#right p {margin:0 10px 15px 0;}

div.clear {clear:both;}

table.info {border:none; border-collapse:collapse;}
table.info td {height:16px; border:none;}
table.info td.space {width:20px;}

table.details {width:100%; margin-bottom:30px; border:none; border-collapse:collapse;}
table.details td {height:20px; padding-left:10px; border:none;}
table.details tr {background-color:#ececec;}
table.details tr.odd {background-color:#ffffff;}