﻿.selectArea, .center_a, .selectArea .left, .scrollbar-up, .scrollbar-down, .scrollbar-handle {
background: url(../images/selects.png) no-repeat;
}
.selectArea {
height:21px !important;
background-position: 0 -42px;
background-repeat: repeat-x;
position: relative;
}

.selectArea input {
color: #4d4010 !important;
font-size: 9pt !important;
border: none !important;
background: none !important;
position: absolute;
top: 3px;
left: 1px;
height: 100% !important;
font-family: Arial;
padding: 0 0 0 5px !important;
cursor: pointer;
height: auto !important;width:100%;
}
.center_a {
background-position: right -21px;
cursor: pointer;
height: 100%;
position: absolute;
top: 0;left:0px;
right: 0;
width: 100% !important;
}
* html .center_a {
right: -1px;
overflow: hidden;
}
.selectArea .left {
width:6px;
background-position: 0 0;
left: -0px;
height: 100%;
float:left;
overflow: hidden;
position: relative;
}
.selectArea .optionsDivInvisible, .selectArea .optionsDivVisible {
border-bottom: 1px solid #959595;
background: #fff !important;
top: 20px !important;
position:absolute !important;
margin: 0 !important;
z-index:200;
text-align: left;
left: 0px !important;
width: 100% !important;
overflow: hidden;
}
.wid200 {position:relative;width:188px !important;margin:2px 0px 2px 0px !important;}
.widall {width:100%}
.optionsDivVisible {display:block;}
.selectArea .optionsDivInvisible span {
padding: 2px 0px 2px 0px !important;
border-left: 1px solid #959595 !important;
border-right: 1px solid #959595 !important;
color: #797572 !important;
font-size: 9pt !important;
text-indent: 10px;
display: block;
height: 15px;
cursor: pointer;
margin:0 !important;
float: none !important;
background: none;
}
.selectArea .scrollbar-container span {
margin-left: -5px !important;
}
.selectArea .optionsDivInvisible span:hover {
background: #e6e6e6 !important;
color: #797979 !important;
}
.selectArea .optionsDivInvisible span.over {
background: #e76624;
color: #000 !important;
}
.scrollbar-container {
height: 143px;
margin: 0 !important;
padding: 0 !important;
overflow: hidden;
position: relative !important;
border-left: 1px solid #bdbcbd !important;
border-right: 1px solid #bdbcbd !important;
display: block !important;
float: none !important;
clear: none !important;
width: auto !important;
}
* html .scrollbar-container {
width: 100% !important;
}
.scrollbar-up, .scrollbar-down {
width: 15px;
height: 13px;
overflow: hidden;
position: absolute !important;
top: 0;
right: 0;
left: auto;
cursor: pointer;
z-index: 40;
background-position: -6px -96px;
margin: 0 !important;
padding: 0 !important;
}
.scrollbar-down {
top: auto;
bottom: 0;
background-position: -6px -84px;
}
.scrollbar-track {
height: 117px;
width: 15px;
background: #f4f6f8;
position: absolute !important;
top: 13px;
right: 0;
z-index: 30;
margin: 0 !important;
padding: 0 !important;
}
* html .scrollbar-track, * html .scrollbar-up, * html .scrollbar-down {
right: 0px;
}
.scrollbar-handle {
cursor: pointer;
position: absolute !important;
right: 0;
top: 0;
width: 15px;
height: 27px;
overflow: hidden;
margin: 0 !important;
background-position: -6px -110px;
display: block;
}
.container2 {
height: 103px;
width: 100% !important;
clear: none !important;
position: static !important;
margin: 0 !important;
padding: 0 !important;
}
.scroller-container {
top: 0;
left: 0;
z-index: 20;
position: absolute !important;
width: 1000px !important;
display: block !important;
margin: 0 !important;
padding: 0 !important;
}
.selectArea .optionsDivInvisible .scroller-container span {
border: none !important;
}

.table_product .lineform .selectArea, .table_product .center_a, .table_product .selectArea .left, .table_product .scrollbar-up, .table_product .scrollbar-down, .table_product .scrollbar-handle {
background: url(../images/selects_02.png) no-repeat;
}
.table_product .lineform .selectArea {height:25px !important;background-position: 0 -50px;background-repeat: repeat-x !important;}
.table_product .lineform .center_a {
background-position: right -25px;left:0px;}
.table_product .lineform .selectArea .left {
width:8px !important;left:0px;}
