﻿HTML {background:#ffffff url(../images/background.jpg) repeat-x;font:normal 10pt Arial, Tahoma, Verdana; color:#5a5a5a; padding: 0px;    margin: 0px; width: 100%;  height: 100%;height: 100%;}
body {position:relative;padding: 0px;    margin: 0px; width: 100%;height: 100%;}
.all {min-height:100%; min-width:946px;max-width:1226px;padding:0px 27px 0px 27px;margin:0px auto;}
img {border:none;}
table {width:100%;border-collapse:collapse;}
td {vertical-align:top}
* {margin:0px; padding:0px;}
ol, ul {list-style:none;}
ul {margin:0px;padding:0px;}
li {list-style-type:none;}
.clear {clear:both;font-size:1px;}
*:focus {outline:none;}
a:hover {text-decoration:none}
.no_back {background:none !important;}
.top_header {height:60px;}
.top_header .left {float:left;padding:10px 0px 0px 0px;}
.top_header .left li {float:left;padding:0px 10px 0px 0px;margin-right:9px;background: url(../images/line_01.gif) 100% 4px no-repeat;}
.top_header .left li a {font-size:9pt;color:#ffffff;}
.top_header .right {float:right;padding:8px 0px 0px 0px;font-size:9pt;color:#ffffff;}
.top_header .right img {margin:0px 1px -4px 0px;}
.top_header .right a {color:#ffffff;text-decoration:none;background: url(../images/line_02.gif) 0 100% repeat-x;}
.top_header .right a:hover {background:none;}
.top_header div.butn {position:absolute; top:10px; right:450px;}
.top_header div.butn a {background: url(../images/obj-add.png) 0 0 no-repeat; position:relative; padding:6px 10px 6px 14px; color:#004B02; font:normal 12px Arial, Tahoma, Verdana; text-decoration:none;}
.left_header {height:100px;float:left;width:420px;}
.right_header {color:#221805;float:left;width:54%;}
.left_header .logo h1 {margin:24px 0px 0px 280px;font:normal 8pt Tahoma; color:#2f2615;position:absolute;}
.left_header .logo h2 {margin:63px 0px 0px 83px;font:normal 11pt Tahoma; color:#2f2615;position:absolute;}
.left_header .logo h3 {margin:10px 0 0 110px;font:normal 14pt Tahoma; color:#FF9000;position:absolute;}
.right_header span {font-size:19px;display:block;padding-top:1px;}
.right_header .gorod, .right_header .gorod_object, .right_header .phone {width:33%;float:left;}
.right_header .gorod a.gorod_a {font:normal 14pt Arial; color:#b1cf00;text-decoration:none;background: url(../images/line_03.gif) 0 100% repeat-x;}
.right_header .gorod a.gorod_a:hover {background:none;}
.right_header .gorod img {position:relative;left:2px;top:-2px;}
.header_menu {padding-top:23px;}
.header_menu li {float:left;padding:0px 11px 0px 0px;margin-right:10px;background: url(../images/line_04.gif) 100% 3px no-repeat;}
.header_menu li a {font:normal 14px Arial; color:#9cc300;}
.left_block {width:301px;float:left;}
.right_block {padding-left:322px;}
.left_o_centr {color:#000000;line-height:19px;padding-top:7px;}
.left_o_centr .title {padding-bottom:10px;}
.left_o_centr .title a {font:normal 14pt Arial; color:#98be00;}
.left_o_centr .foto_center {padding-bottom:4px;}
.left_o_centr .foto_center img {display:block;}
.left_o_centr .foto_center .left {width:226px;float:left;}
.left_o_centr .foto_center .right {float:right;}
.left_o_centr .foto_center .right img {margin-bottom:4px;}
.left_o_centr i, .left_o_centr p {color:#414141;}
.left_o_centr h3 {font:bold 10pt Arial;}
.orange_block {margin-bottom:20px;width:621px;float:right;background:#ff9000 url(../images/orange_block.gif) no-repeat;}
.orange_block_02 {color:#000000;padding:15px 18px 23px 18px;background: url(../images/orange_block_02.gif) 0 100% no-repeat;}
.orange_block_02 a {color:#F4F900; font-weight:bold;}
.orange_menu {margin-bottom:20px;width:579px;height:34px;background: url(../images/orange_menu.gif) no-repeat;}
.orange_menu ul {padding-left:8px;}
.orange_menu li {float:left;}
.orange_menu li div {height:26px;float:left;padding:8px 13px 0px 13px;}
.orange_menu li div a {font:normal 14px Arial; color:#413300;text-decoration:none;background: url(../images/line_05.gif) 0 100% repeat-x;}
.orange_menu li div a:hover {background:none;}
.orange_menu li.activ div a {background:none;font:bold 17px Arial; color:#000000;}
.orange_menu li.activ {background: url(../images/activ_filtr.gif) no-repeat;font:bold 17px Arial; color:#000000;}
.orange_menu li.activ div {background: url(../images/activ_filtr_02.gif) 100% 0 no-repeat;height:28px;padding:6px 20px 0px 20px !important;}
.mesto_object {padding-bottom:17px;margin-bottom:17px;border-bottom:solid 1px #ffc880;}
.gorod_obj {float:left;width:224px;}
.gorod_obj span, .klass_obj span {float:left;display:block;padding:2px 20px 0px 0px;}
.gorod_obj .rowElem {float:left;width:135px;}
.raion_obj {width:242px;float:left;padding-top:3px;}
.raion_obj a {font-size:9pt;color:#413300;text-decoration:none;background: url(../images/line_05.gif) 0 100% repeat-x;}
.raion_obj a:hover {background:none;}
.klass_obj {float:left;}
.klass_obj .lineform {width:50px;float:left;}
.table_parametr_object {margin-bottom:5px;border-bottom:solid 1px #ffc880;padding-bottom:8px;}
.table_parametr_object td {padding-bottom:11px;}
.table_parametr_object td.td_01 {padding-top:2px;width:130px;}
.table_parametr_object td.td_01 span {display:block;margin-top:-3px;}
.table_parametr_object td.td_02 {width:140px;}
.table_parametr_object td.td_03 {padding-top:2px;width:114px;}
.table_parametr_object td.td_04 .lineform {width:135px;}
.table_parametr_object td.td_05 span {display:block;float:left;padding-top:1px;padding-right:12px;}

.table_addparametr_object {padding-top:8px;}
.table_addparametr_object td {padding-bottom:11px;}
.table_addparametr_object td.td_01 {padding-top:2px;width:130px;}
.table_addparametr_object td.td_01 span {display:block;margin-top:-3px;}
.table_addparametr_object td.td_02 {width:140px;}
.table_addparametr_object td.td_03 {padding-top:2px;width:114px;}
.table_addparametr_object td.td_04 .lineform {width:135px;}
.table_addparametr_object td.td_05 span {display:block;float:left;padding-top:1px;padding-right:12px;}

.input_parametr input {float:left;width:36px !important;text-align:center;padding:0px 0px 0px 0px;color:#413300;font-size:14px;border:solid 1px #808080;}
.input_parametr .polzunok {float:left; margin:5px 7px 0px 7px;width:16px;border-bottom:solid 2px #0043ff;}
.input_parametr .polzunok img {margin:0px auto;display:block;}
.label_info_block label {font-size:12px;padding:0px 10px 0px 0px;}
.label_info_block {line-height:32px !important;border-bottom:solid 1px #ffc880;}
.submit_orange_block {padding-top:10px;}
.submit_orange_block .hidden_parametrs {float:left;padding:11px 0px 0px 0px;}
.submit_orange_block .hidden_parametrs a {font-size:12px;color:#ffffff;}
.submit_orange_block .hidden_parametrs img {margin:0px 0px -1px 0px;}
.submit_orange_block .right_submit {float:right;}
.gray_submit {font:normal 10pt Arial; color:#5a5959;padding-bottom:2px;position:relative;top:2px;width:122px;height:28px;background: url(../images/gray_submit.png) no-repeat;border:none;cursor:pointer;}
.green_submit {margin-left:7px;font:normal 10pt Arial; color:#4c5600;text-decoration:underline;padding-bottom:5px;width:191px;height:42px;background: url(../images/green_submit.png) no-repeat;border:none;cursor:pointer;}
.green_submit {font:bold 12pt Arial;}
.green_submit:hover {text-decoration:none;}
.gor_predlog {padding-bottom:20px;}
.gor_predlog .title {font-size:13px;padding-bottom:30px;}
.gor_predlog .title li {float:left;padding-right:13px;}
.gor_predlog .title li a {color:#92c200;text-decoration:none;background: url(../images/line_03.gif) 0 100% repeat-x;}
.gor_predlog .title li a:hover {background:none;}
.title_site {padding-bottom:10px;}
.title_site a {font:normal 14pt Arial; color:#000;}
.left_news_bl {line-height:20px !important;padding-bottom:17px;font-size:12px;}
.left_news_bl .title {font-size:8pt;}
.left_news_bl .title a {font:bold 14px Arial; color:#92c200;}
.img_left {float:left;display:block;margin:5px 11px 0px 0px;}
.content_text {line-height:20px !important;font-size:12px;}
.content {padding-bottom:160px;}
.footer {min-width:946px;max-width:1226px;padding:0px 27px 0px 27px;margin:-128px auto 0px auto;height:128px;}
.footer_border {border-top:solid 1px #000000;padding-top:20px;}
.footer_border .copyright_footer {line-height:18px;font-size:12px;float:left;width:240px;color:#000000;}
.footer_border .copyright_footer a {color:#1780ca;}
.footer_border .banner_footer {float:right;}
.footer_border .banner_footer img {margin-left:15px;}
.search_footer {width:305px;margin:-70px auto 0px auto;}
.search_footer .search_footer_inp {width:211px;padding:6px 0px 6px 8px;border:solid 1px #808080;font:normal 9pt Arial; }
.search_footer a {font-size:12px;color:#408fd1;}
.search_footer .search_footer_subm {margin-left:13px;width:66px;height:34px;font:normal 9pt Arial; color:#545f00;padding-bottom:4px;background: url(../images/search_footer_subm.png) no-repeat;border:none;cursor:pointer;}
.gallery_bl {line-height:15px;font:normal 8pt Arial;color:#000000;width:130px;}
.gallery_bl img {display:block;margin-bottom:5px;}
.gallery_bl p {font:normal 8pt Arial; color:#414141;}
.left_baner {padding:20px 0px 20px 0px;}
.a_privew {padding:0px 0px 10px 0px; overflow:hidden;}
.a_privew a {font:normal 13px Arial; color:#ff9000;}
.a_privew img {margin:0px 2px 0px 0px;}
.a_privew div.link_center {float:right;}
.a_privew div.link_center a {color:#009904;}
.orange_title {padding:6px 0px 6px 10px;background:#ff9000;margin-bottom:15px;font:normal 13pt Arial; color:#ffffff;}
.green_title   {padding:6px 0px 6px 10px;background:#009904;margin-bottom:15px;font:normal 13pt Arial; color:#ffffff;}
.menu_card {height:48px;}
.menu_card li {float:left;margin-right:4px;height:26px;background: url(../images/menu_card.gif) no-repeat;}
.menu_card li div {padding:4px 10px 0px 10px;float:left;height:22px;background: url(../images/menu_card_02.gif) 100% 0 no-repeat;}
.menu_card li div a {font-size:12px;text-decoration:none;color:#004b02;}
.menu_card li div img {margin:0px 1px -1px 0px;}
.foto_card {width:310px;float:left;}
.foto_card img {display:block;margin-bottom:5px;}
.text_card {margin-left:317px;min-height:300px;margin-bottom:20px;}
.card_mini_gall img {float:left;margin:0px 6px 6px 0px;}
.text_card_info {padding-bottom:20px;line-height:19px}
.text_card_info i, .text_card_info p {color:#414141;}
.text_card_info h3 {font:bold 10pt Arial;}
.phone_card {font:normal 14pt Arial;color:#000000;}
.phone_card span {font-size:13pt;color:#5a5a5a;padding-left:10px;}
.name_autor_card {padding:2px 0px 0px 100px;}
.name_autor_card a {color:#98be00;}
.file_table {padding-top:20px;}
.file_table h4 {font:bold 10pt Arial; color:#000000;margin-bottom:3px;}
.file_table_background {margin:0px 0px 0px -4px;width:221px;background: url(../images/file_table_background.gif) no-repeat;}
.file_table_background_02 {font-size:13px;padding:18px 0px 9px 20px;background: url(../images/file_table_background_02.gif) 0 100% no-repeat;}
.file_table_background_02 td.td_01 {width:100px;color:#000000;}
.file_table_background_02 td {padding-bottom:8px;}
.file_table_background_02 td a {color:#009904;}
.file_table_background_02 td img {margin:0px 2px 0px 0px;}
.podrobnee_card h3 {font:normal 14pt Arial; color:#000000;margin-bottom:5px;}
.podrobnee_card a {font:normal 13px Arial; color:#ff9000; margin-top:3px;}
.podrobnee_table {margin-bottom:7px;border-top:solid 3px #ff9306;}
.podrobnee_table td {color:#000000;padding:4px 0px 5px 0px;background:#f6f6f6;border-bottom:solid 1px #ffffff;}
.podrobnee_table td.td_01 {width:50%;padding-left:14px;}
.podrobnee_table td .yes {color:#009904;}
.podrobnee_table td .yes img {margin:0px 1px -1px 0px;}
.podrobnee_table td a {color:#009904;}
.podrobnee_table td .no img {margin:0px 1px -1px 0px;}
.office h3 {font:bold 14px Arial; color:#000;margin-bottom:15px;}
.office .gallery_bl {float:left;margin:0px 25px 25px 0px;}
.podrobnee_table .back_tr td {background:#e7e5e5;}
.rezult_search_title {float:left;width:100%;margin-top:-4px;height:43px;background: url(../images/rezult_search_title.gif) repeat-x;}
.rezult_search_title h2 {font:normal 14pt Arial; color:#000000;padding:9px 0px 0px 20px;}
.result_search_table .title_tr td {border-right:solid 1px #ffffff;text-align:center;vertical-align:middle;font:bold 12px Arial; color:#000000;height:25px;background:#efefef}
.result_search_table .title_tr:hover td {background:#efefef;}
.result_search_table .title_tr td.td_08 {border-right:none;}
.result_search_table {float:left;width:100%;}
.result_search_table .title_tr td.td_02 {background: url(../images/td_02.gif) repeat-x;}
.result_search_table .title_tr td.td_01 {width:9%;}
.result_search_table .title_tr td.td_02 {text-align:left;padding:0px 6px 0px 9px;width:20%;}
.result_search_table .title_tr td img.sort {display:block;float:right;margin:6px 5px 0px 0px;}
.result_search_table .title_tr td.td_03 {text-align:left;padding-left:8px;width:29%;}
.result_search_table .title_tr td.td_04 {width:8%;}
.result_search_table .title_tr td.td_05 {width:11%;}
.result_search_table .title_tr td.td_06 {width:9%;}
.result_search_table .title_tr td.td_07 {width:9%;}
.result_search_table .title_tr td.td_08 img {position:relative;top:1px;left:1px;}
.result_search_table .title_tr td.td_01:hover, .result_search_table .title_tr td.td_08:hover {cursor: default;}
.result_search_table td {height:30px;text-align:center;border-bottom:solid 1px #fafafa;color:#5a5a5a;background:#f6f6f6;vertical-align:middle;font-size:12px;}
.result_search_table td.tt_02 {text-align:left;padding-left:8px;}
.result_search_table td.tt_03 {text-align:right;padding-right:8px;}
.result_search_table td.tt_04:hover {cursor: default;}
.result_search_table td.tt_01 img {display:block;margin:0px auto;}
.result_search_table tr.background_tr td {background:#e7e5e5;}
.result_search_table tr:hover td {cursor:pointer;background:#f4f900;}
.result_search_table tr.red_tr td {color:#f62e00;}
.result_search_table td.tt_03 img {position:relative;margin:0px 0px -7px 0px;}
.result_search_table td .hot_span {position:relative;display:block;margin-top:-5px;}
.number_str_site {padding:30px 0px 0px 300px;}
.number_str_site span {display:block;float:left;font:normal 14pt Arial; color:#5a5a5a;margin:0px 8px 0px 0px;}
.number_str_site ul {float:left;}
.number_str_site ul li {font:normal 14pt Arial;color:#ffffff;height:26px;float:left;}
.number_str_site ul li div {height:25px;float:left;padding:1px 7px 0px 7px;}
.number_str_site ul li a { color:#9cc300;}
.number_str_site ul li.activ {background: url(../images/stranica_activ.gif) no-repeat;}
.number_str_site ul li.activ div {background: url(../images/stranica_activ_02.gif) 100% 0 no-repeat;}
.float_text {float:left;padding:0px 7px 0px 0px;}


div.breadcrumbs {color: #ff9000; font-size: 14px; padding-top:3px; margin-bottom:10px; }
div.breadcrumbs a {color:#ff9000; }

div.cabinet input { font-family: Arial, Helvetica, sans-serif; color: #393939}

div.cabNavShadow {padding-bottom: 30px; background:url(../images/cabNavShadow.png) 0 100% repeat-x }
div.cabinet div.cabNav { background: url(../images/cabNav.png) 0 0 no-repeat; padding-left: 16px;  }
div.cabinet div.cabNavIn {background: url(../images/cabNav.png) 100% 100% no-repeat; height: 38px; }

div.cabinet div.cabNav a {display: block; float: left; color: #fff; font-size: 18px;  padding-left: 16px; position: relative; left: -16px; text-decoration: none;  }
div.cabinet div.cabNav a i {display: block; height:28px; font-style: normal;  padding:10px 19px 0 3px;   }
div.cabinet div.cabNav a i u {background:url(../images/dashed.gif) 0 100% repeat-x; text-decoration: none; }
div.cabinet div.cabNav a:hover u {background: no-repeat}
div.cabinet div.cabNav a.active {background:url(../images/cabNav_a.png) 0 0 no-repeat;  }
div.cabinet div.cabNav a.active i {background:url(../images/cabNav_a.png) 100% 100% no-repeat }
div.cabinet div.cabNav a.active i u {background:none}

div.cabinet div.cabBlock {font-size: 14px; margin-bottom:40px;}
div.cabinet div.cabBlock h3 {border-bottom: 3px solid #ff9000; width: 480px; padding: 0 5px; font-size: 18px; font-weight:500; padding-bottom: 4px; margin-bottom: 20px;}
fieldset {border: 0; }
div.cabinet .chkbx {margin-bottom:5px;}
div.cabinet label.chkbxSpan {display: inline;}
div.cabinet div.bordered {border: 1px solid #b2b2b2; width: 450px; padding:5px 20px 5px 20px; margin:5px 0 15px 0; }
div.cabinet div.bordered h4 {font-size: 14px; font-weight:500; display: inline;background:#fff; position: relative; top: -14px; padding: 0 5px; position: relative; left: -5px;  }
div.cabinet div.bordered:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div.cabinet div.bordered  {display: inline-block;}
div.cabinet div.bordered  {display: block;}
div.cabinet div.bordered div.Lcol {float: left; width: 50%; line-height: 27px;  }
div.cabinet div.bordered div.Lcol p {height:36px; margin: 0; padding-top: 3px;  }

div.cabinet div.bordered div.Rcol {float: left; width: 50%; font-size: 18px; color: #393939 }
div.cabinet div.bordered div.Rcol input {font-size: 18px; color: #393939; border: 1px solid #b2b2b2; height: 27px; padding: 0 5px; line-height: 27px; vertical-align: top }
.plus7 {position: relative; top:4px}
div.cabinet div.bordered div.Rcol .num3 {width: 30px; margin-bottom: 10px; }
div.cabinet div.bordered div.Rcol .num7 {width: 75px;  }
div.cabinet div.bordered div.Rcol .mail {width: 190px; }
div.cabinet .button {width:185px;  height: 37px; background: url(../images/cab_but.png) 0 0 no-repeat; border: 0; font-size: 18px; color: #004b02; clear: both;cursor: pointer; }
div.cabinet .button.long {background: url(../images/cab_but_long.png) 0 0 no-repeat; width: 206px; }

div.cabinet label {display: block; margin-bottom: 2px; }
div.cabinet .req {color:#ea0000}

div.cabinet .inputbox {height: 27px; padding: 0 5px; width: 261px; font-size: 18px; margin-bottom: 12px; border: 1px solid #b2b2b2; line-height: 27px; vertical-align: top }
div.cabinet h5 {margin:15px 0 15px 0; color: #000; font-size: 14px; padding-bottom:5px; border-bottom: 3px solid #e0e0e0; width: 490px; }

div.cabinet span.passOK {color:#18a31c; padding-left:20px; margin-left: 10px; background: url(../images/cab_pass_ok.gif) 0 3px no-repeat; }

/* login form */

#enter_box {width:140px; margin:0 auto; position:relative; display:inline;}
#enter_head {padding:10px 0px 12px; display:inline;}
#enter_head a.signin {background:none; padding:4px 6px 6px; border:1px solid #BED400;}
a.signin span {padding:4px 0 0 0; background: url(/images/line_02.gif) 0 100% repeat-x;}
#enter_head a.menu-open {background:#FFFFFF!important; color:#789!important; border:1px solid #FFFFFF; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; outline:none; z-index:200;}
#signin_menu {display:none; background-color:#FFFFFF; position:absolute; width:210px; z-index:100; border:2px solid #BED400; -moz-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; text-align:left; padding:12px; top: 24.5px; right: 0px; margin-top:1px; margin-right:2px; color:#414141; font-size:12px;}
#signin_menu input[type=text], #signin_menu input[type=password] {display:block; border:1px solid #BED400; font-size:13px; margin:0 0 5px; padding:5px; width:203px;}
#signin_menu p {margin:0;}
#signin_menu a {color:#6AC;}
#signin_menu label {font-weight:400;}
#signin_menu p.remember {padding:10px 0;}
#signin_menu p a {color:#27B!important;}
#signin_submit {background-color:#BED400; border:1px solid #BED400; color:#004B02; text-shadow:0 -1px 0 #BED400; padding:4px 10px 5px; font-size:11px; margin:0 5px 0 0; font-weight:bold;}
#signin_submit::-moz-focus-inner {padding:0; border:0;}
#signin_submit:hover, #signin_submit:focus { background-position:0 -5px; cursor:pointer; }
table.list {border-collapse:collapse; border-spacing:0;}

#city_list {position:absolute; top:75px; left:440px; width:200px; display:none; text-align:left; z-index:999;}
#city_list .tl {background:url(/images/list/tl.png) no-repeat; width:8px; height:10px;}
#city_list .t {background:url(/images/list/t.png) repeat-x; width:10px; height:10px;}
#city_list .tr {background:url(/images/list/tr.png) no-repeat; width:10px; height:10px;}
#city_list .r {background:url(/images/list/r.png) repeat-y; width:10px; height:10px;}
#city_list .br {background:url(/images/list/br.png) no-repeat; width:10px; height:10px;}
#city_list .b {background:url(/images/list/b.png) repeat-x; width:10px; height:10px;}
#city_list .bl {background:url(/images/list/bl.png) no-repeat; width:8px; height:10px;}
#city_list .l {background:url(/images/list/l.png) repeat-y; width:8px; height:10px;}
#city_list .c {padding:3px 26px 3px 6px; font-size:14px; background:#ffffff;}
#city_list .close {position:absolute; right:12px; top:12px;}
#city_list .c ul {margin:0; padding:0;}
#city_list .c li {padding-bottom:11px; color:#c642a3; line-height:12px; white-space:nowrap;}


/* Notepad */

div.cabinet div.infoBlock {padding:11px 14px 19px 14px; line-height:20px; color:#414141; margin-bottom:10px;}
div.cabinet div.infoBlock {display: inline-block;}
div.cabinet div.infoBlock {display: block;}
div.cabinet div.infoBlock div.rightCol {float:right; text-align:right; line-height:15px; color:#414141;}
div.cabinet div.infoBlock div.rightCol a {color:#414141; font-weight:bold;}
div.cabinet div.infoBlock div.rightCol span.date {font-weight:bold;}
div.cabinet div.infoBlock div.rightCol i {font-size:13px;}
div.cabinet div.infoBlock div.rightCol p {font-size:24px; padding-top:5px; line-height:20px;}
div.cabinet div.infoBlock .toObj {color:#9CC300;}
div.cabinet div.infoBlock .titl {font-size:18px;}
div.cabinet div.infoBlock .clrGray {color: #7A7A7A;}
div.cabinet div.infoBlock .clrGreen {color: #18A31C;}
div.cabinet div.infoBlock .clrRed {color: #810000;}
div.cabinet div.infoBlock.clrLtGray {border: 1px solid #BBBBBB;}
div.cabinet div.infoBlock.clrGray {border: 1px solid #7A7A7A;}
div.cabinet div.infoBlock.clrGreen {border: 1px solid #00DD00;}
div.cabinet div.infoBlock.clrRed {border: 1px solid #810000;}
div.cabinet div.infoBlock b.clrGray {background: url(../images/status-wait.png) 0 2px no-repeat; padding-left:17px;}
div.cabinet div.infoBlock b.clrGreen {background: url(../images/status-ok.png) 0 2px no-repeat; padding-left:22px;}
div.cabinet div.infoBlock b.clrRed {background: url(../images/status-fail.png) 0 2px no-repeat; padding-left:20px;}
div.cabinet div.infoBlock div.leftCol  {}
div.cabinet div.actions {float:right; text-align:right; clear:right}
div.cabinet div.actions a.del {background: url(../images/notepad-delete.png) 0 0 no-repeat; padding:5px 12px 6px 25px; position:relative; top: -1px; color:#FFFFFF; font-size:13px; text-decoration:none;}
div.cabinet div.actions a.more {background: url(../images/notepad-change.png) 0 0 no-repeat; padding:5px 12px 6px 10px; position:relative; top: -1px; color:#004B02; font-size:13px; text-decoration:none;}
div.cabinet div.actions a.more.single {padding:5px 6px 6px 10px;}

div.cabinet div.empty-block {color:#414141;}
div.cabinet div.empty-block  h4 {margin-bottom:10px;}
div.cabinet div.empty-block  a {color: #9CC300;}

div.cabinet div.errorSummary {color:#810000; font-size:16px;}
div.cabinet div.errorSummary ul {margin:8px 0 15px 30px; font-size:14px;}
div.cabinet div.errorSummary  li {list-style-type: circle;}

/* Detail INFO about entities */

div.detail {font-size:14px;}
div.detail h1 {margin:15px 0 15px 0; color: #000; font-size: 20px;} 
div.detail div.brif {line-height:18px; margin-bottom:15px;}
div.detail .titl{font-size:16px; color:#9CC300;}
div.detail div.rightCol {float:right; text-align:right; line-height:15px; color:#414141;}
div.detail div.rightCol a {color:#414141; font-weight:bold;}
div.detail div.rightCol span.date {font-weight:bold;}
div.detail div.rightCol i {font-size:13px;}

/*  Мастер  добавления объекта */

div.master {font: 14px Arial, Helvetica, sans-serif; color:#414141; line-height:20px;}
div.master div.errorSummary {color:#810000; font-size:16px;}
div.master div.errorSummary ul {margin:8px 0 15px 30px; font-size:14px;}
div.master div.errorSummary  li {list-style-type: circle;}

div.master div.head {color: #919191; border-bottom: 3px solid #ff9000; width: 500px; padding: 0 5px 4px; font-size: 18px; font-weight:normal; margin-bottom: 20px;}
div.master div.head h3 {color: #000000; display:inline; padding-right:8px;}

div.master div.road { margin-bottom:25px; overflow:hidden; font:18px Arial;}
div.master div.road li {float:left; padding:0 8px;}
div.master div.road li span {background-color:#FFFFFF; padding:8px 0px 12px 8px; color:#000000; line-height:32px;}
div.master div.road li div {float:left; padding: 6px 0 3px 0px; height:28px;}
div.master div.road li div a {text-decoration:none; color:#FF9000;}
div.master div.road li.first {padding-left:0}
div.master div.road li.active {background: url(../images/active_addMaster.gif) 0 0 no-repeat;padding-right:0;}
div.master div.road li.active div {background: url(../images/active_addMaster2.gif) 100% 0 no-repeat; padding: 7px 14px 3px 6px !important;color:#FFFFFF;}
div.master div.road li.active.first div {padding-left: 12px !important;}
div.master div.road li.next div {color:#000000; padding:6px 0 11px 0;}
div.master div.road li.next {padding:0 0 11px 8px;}
div.master div.road li.pred span {color:#FF9000;}

div.master label {display:block; margin-bottom:4px; font-size:14px;}
div.master label.chkbxSpan {display: inline; margin-bottom:5px; padding-left:5px;}
div.master p {margin:3px 0 12px;}
div.master div.req {margin-bottom:4px; font-size:14px;color:#EA0000;}
div.master div.req label {display:inline;color:#414141;}

div.master input {font-family: Arial, Helvetica, sans-serif; color: #393939}
div.master select {font-family: Arial, Helvetica, sans-serif; color: #393939; height: 24px; padding: 0 0 0 5px; width: 261px; font-size: 16px; margin-bottom: 12px; border: 1px solid #b2b2b2; line-height: 20px; vertical-align: top}
div.master .inputbox {height: 27px; padding: 0 5px; width: 249px; font-size: 18px; margin-bottom: 12px; border: 1px solid #b2b2b2; line-height: 27px; vertical-align: top }
div.master input.inputbox.error {border: 2px solid #810000;}
div.master label.error, div.master div.req label.error {color:#810000;}

div.master div.bordered {border: 1px solid #b2b2b2; width: 450px; padding:5px 20px 10px 20px; margin:5px 0 15px 0; color:#414141;}
div.master div.bordered h4 {font-size: 14px; font-weight:500; display: inline;background:#fff; top: -14px; padding: 0 5px; position: relative; left: -5px;  }
div.master div.b2ordered:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div.master div.bordered  {display: inline-block;}
div.master div.bordered  {display: block;}
div.master div.bordered div.oneCol {margin-top:-5px; font-size: 14px;}
div.master div.bordered div.oneCol label {display:inline-block; margin:0;}
div.master div.bordered div#images a,
div.master div.bordered div#documents a {color:#9CC300;}

div.master div.buttons {line-height:20px; font-size:14px; color:#9CC300; padding-top:20px; overflow:hidden;}
div.master div.buttons a {color:#9CC300; padding:0 15px 0 0;}
div.master div.buttons div {float:left; height: 37px;}
div.master div.buttons div.cancel, div.master div.buttons div.pred {padding-top:8px;}
div.master div.buttons div.cancel {float:right; text-align:right; color:#FF9000; height: 37px;}
div.master div.buttons div.cancel a {color:#FF9000;}
div.master div.buttons input.next {background: url(../images/master_next.png) 0 0 no-repeat; width:115px; height: 37px; border: 0; font-size: 18px; color: #004b02; cursor: pointer;}

/* Registration page */

div.regpage {font: 14px Arial, Helvetica, sans-serif; color:#414141; line-height:20px;}
div.regpage h1 {padding:6px 0px 6px 10px;background:#ff9000;margin-bottom:15px;font:normal 13pt Arial; color:#ffffff;}
div.regpage a {color:#9CC300;}
div.regpage div.errorSummary {color:#810000; font-size:16px;}
div.regpage div.errorSummary ul {margin:8px 0 15px 30px; font-size:14px;}
div.regpage div.errorSummary  li {list-style-type: circle;}

div.regpage h3 {border-bottom: 3px solid #ff9000; width: 480px; padding: 0 5px; font-size: 18px; font-weight:500; padding-bottom: 4px; margin: 12px 0;}

div.regpage label {display:block; margin-bottom:4px; font-size:14px;}
div.regpage label.chkbxSpan {display: inline; margin-bottom:5px; padding-left:5px;}
div.regpage div.radio {margin-bottom:12px;}
div.regpage div.radio label {display:inline-block; margin:0;}
div.regpage div.cpt a {position: relative; top:-24px; font-size:14px;color:#EA0000;}
div.regpage div.req {margin-bottom:4px; font-size:14px;color:#EA0000;}
div.regpage div.req label {display:inline;color:#414141;}

div.regpage input {font-family: Arial, Helvetica, sans-serif; color: #393939}
div.regpage select {font-family: Arial, Helvetica, sans-serif; color: #393939; height: 24px; padding: 0 0 0 5px; width: 261px; font-size: 16px; margin-bottom: 12px; border: 1px solid #b2b2b2; line-height: 20px; vertical-align: top}
div.regpage .inputbox {height: 27px; padding: 0 5px; width: 249px; font-size: 18px; margin-bottom: 12px; border: 1px solid #b2b2b2; line-height: 27px; vertical-align: top }
div.regpage input.inputbox.error {border: 2px solid #810000;}
div.regpage label.error, div.regpage div.req label.error {color:#810000;}
div.regpage .button {width:185px;  height: 37px; background: url(../images/cab_but.png) 0 0 no-repeat; border: 0; font-size: 18px; color: #004b02; clear: both;cursor: pointer; }
div.regpage span {color:#b2b2b2; padding-left:20px; margin-left: 10px;}
div.regpage span.ok {color:#18a31c; background: url(../images/cab_pass_ok.gif) 0 3px no-repeat; }
div.regpage span.err {color:#810000;}

/* Story (typographics) */
div.story {color:#414141; line-height:20px; font-size:14px;}
div.story h1 {font-size:20px;}
div.story h1.chapter {background: none repeat scroll 0 0 #FF9000; color: #FFFFFF; font: 14px Arial; margin-bottom: 15px; padding: 6px 0 6px 10px;}
div.story ul, div.story ol {padding-left: 20px;}
div.story ul li {list-style-type: circle;}

div.newstype dl {}
div.newstype dl dt {color:#5A5A5A; font-size:10px; margin-bottom: 6px;}
div.newstype dl dt a {color:#FF9000; font-size:16px; text-decoration:none}
div.newstype dl dt a:hover {text-decoration:underline}
div.newstype dl dd {overflow:hidden;margin-bottom: 15px;}
div.newstype dl dd a.more {color:#9CC300;}
div.newstype dl dd img{float:left;margin:0 20px 15px 0;}
