@charset "utf-8";
/* CSS Document */
html, body { width: 100%; height: 100%;}
body{font: 12px Arial, Helvetica, sans-serif;color:#000;min-height: 100%;height: auto !important;height: 100%;position: relative;zoom:1;}
a{color: #2E3192;text-decoration:underline;cursor:pointer;}	a:hover{text-decoration:none;cursor:pointer;}
h3{font: italic 18px Arial, Helvetica, sans-serif;padding-bottom:4px;}
.green_link{color: #BED400;}
.popup{position: absolute;border:2px dotted #BED400;box-shadow: 0 3px 10px rgba(0,0,0,0.15);background-color:#FFF;z-index:11;display:none;}
.popup_close{position:absolute;display:block;width:18px;height:18px;background:url(../images/popup_close.png) no-repeat 0 0;top:4px;right:5px;}

.wrap_for_max_width{min-width:/*1015*/ 1000px;max-width:1256px;margin:/*-162px auto 0*/ auto;}
.footer .wrap_for_max_width{	min-width:1015px;max-width:1228px;padding-left:11px;padding-right:11px;}
.footer.index_page .wrap_for_max_width{min-width:945px;max-width:1180px;	padding-left:35px;padding-right:35px;}

.top_wrap{vertical-align:top;padding: 14px 17px 0px 15px;position:relative;}
.top_wrap:after{display: block;content:'';clear: both;}
.top_wrap.green_border_bottom{margin-bottom:40px;}
.top_wrap.green_border_bottom:after{display: block;content:'';clear: both;border-top:3px solid #bed400;position:absolute;left:0px;right:0px;height:14px;bottom:-40px;background:url(../images/top_aftre_shadow.png) no-repeat center;}
.logo{margin: 11px 0px 0px 19px;display: inline-block;width:191px;}
.logo img{}

.city_select_wrap{display:inline-block;position:relative;vertical-align:top;}
.city_select{display: inline-block;vertical-align: top;position: relative;text-decoration:none;border-bottom:1px dotted;margin: 0 5px 0px 55px;}
.city_select:after{display: block;position: absolute;content:'';width:0;height:0;border:4px solid transparent;border-top-color:#2E3192;top:0.55em;right:-11px;}
#city_select.popup{top:0;left:45px;}
.city_select_list{list-style:none;padding:12px 13px 8px;}
.city_select_list li{margin-bottom:5px;font-family:Tahoma, Geneva, sans-serif;white-space:nowrap;}
.city_select_list li.add_city{border-top:2px dotted #BED400;margin:13px 0 4px 0;padding:7px 18px 0 16px;}
.city_select_list li.add_city a{display:block;margin-top:4px;}

.top_wrap .inf_block{display: inline-block;vertical-align:top;margin-left:40px;}
.rounded{border-radius:9px;	box-shadow: 0 3px 5px rgba(0,0,0,0.1);border:1px solid #BED400;	background-color: #FFF;	padding: 7px;}
.rounded.user_inf{float: right;padding:4px 8px;}
.user_inf a{	margin:0 0 0 40px;padding: 0px 0px 0px 2px;float: right;text-decoration:none;border-bottom:1px dashed;}
.rounded.authorization{float:right;	padding:7px 8px;}
.authorization > a{padding: 0px 0px 0px 0px;	text-decoration:none;border-bottom:1px dashed;margin-left:10px;}
/*.authorization > a:first-child{
	margin-right:10px;
}*/
.user_inf div:first-child{margin-bottom:1px;}
.dotted{border:2px dotted #BED400;}

.most_search{float: right;clear: both;text-align:right;margin: 7px 6px 0px 0px;}
.most_search ul li{list-style:none;}

.menu_wrap{	margin: 8px 0px 0px 0px;font-size: 0;}
.main_menu{display: inline-block;font-size:0;clear: both;padding: 6px 7px;margin-right:10px;}
.main_menu.rounded{	border-radius:7px;}
.main_menu li{display: inline-block;list-style:none;padding: 0 4px;}
.main_menu li a{font-size: 14px;}
.green_link_block{font-size: 12px;display:inline-block;color: #FFF;background-color: #BED400;padding: 2px 5px 2px 7px;margin: 0px 10px 0 4px;}

.filter{margin: 11px 14px 0px 11px;font-family: Tahoma, Geneva, sans-serif;overflow:hidden;}
.filter select{background:#fff;font: 12px Tahoma, Geneva, sans-serif;	width:113px;border:0px;}
.filter .rounded{}
.filter .rounded form{text-align:justify;}
.filter .rounded form:after{width:100%;height:0;visibility: hidden;overflow: hidden;content:'';display: inline-block;}
.filter .rounded div.data_box_filter{display: inline-block;margin-bottom:4px;padding-right:8px;vertical-align:top;}
.filter .rounded div.data_box_filter input[type='checkbox']{vertical-align: text-top;position:relative;	bottom:2px;}
.filter .rounded .addition_options div{}
.filter .class_of_bulding{display:inline-block;vertical-align:top;}
.filter input[type='text']{width:35px;border:0px;	font:12px Tahoma, Geneva, sans-serif;
/*	background:url("../images/input_text_bg.png") repeat-x 0 0 #fcfcfc;*/text-align:center;
}
.filter .class_of_bulding a{color: #000;font:12px Tahoma, Geneva, sans-serif;text-decoration:none;border-bottom:1px dotted;display: inline-block;margin: 0px 8px 0px 0px;}
.green_link_rounded{color: #FFF;border:0;background-color: #BED400;font: 12px Arial;padding: 3px 18px 4px;border-radius:11px;cursor: pointer;}
.filter .class_of_bulding a.green_link_rounded{color: #FFF;background-color: #BED400;padding:0px 12px;border-radius:12px;line-height:24px;}
.green_rounded_button{color: #000;border:0;background-color: #BED400;font: 15px Tahoma;padding: 3px 30px 5px;border-radius:15px;cursor: pointer;}
.filter_button{color: #000;	border:0;background-color: #BED400;font:15px Tahoma, Geneva, sans-serif;padding:5px 15px;border-radius:15px;cursor: pointer;}
.filter form .addition_options{display:none;}
.filter form .addition_options.active{display:inline-block;}
.filter .more_options{float: right;margin: 4px 10px 0px 0px;}
.filter .rounded div.data_box_filter .rounded2{border:1px solid #BED400; -moz-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; display: inline-block;padding:2px;}
.filter .rounded div.data_box_filter .range{display:inline-block;}
.filter form .addition_options .data_box_filter label.checkbox{	margin:4px 8px 2px 0px;	padding:0px;display:inline-block;}
.filter form .data_box_filter .minPrice,
.filter form .data_box_filter .minSquare,
.filter form .data_box_filter .maxPrice,
.filter form .data_box_filter .maxSquare{border:0px;font:10px Tahoma, Geneva, sans-serif;width:35px;}

.carousel_wrap{
	/*margin: 10px 0 200px;
	padding: 0px 35px;
	position: relative;
	overflow: hidden;
	clear: both;*/
}
.carousel_wrap a.prev, .carousel_wrap a.next{position: absolute;top:0px;width:35px;height:100%;}
.carousel_wrap a.prev{left:0px;background:url(../images/slider_arrow_left.png) no-repeat center 37px #FFF;}
.carousel_wrap a.next{right:0px;	background:url(../images/slider_arrow_right.png) no-repeat center 37px #FFF;}
.carousel_wrap ul{font-size: 0;white-space: nowrap;padding: 11px 0px 80px;}
.carousel_wrap li{width:111px;display: inline-block;list-style:none;margin: 0 26px 0px 0px;position: relative;min-height:1px;vertical-align:top;white-space: normal;height:126px;}

.abs_on_hover{background-color: #FFF;font-size: 12px;display: block;text-decoration:none;color: #000;position: absolute;}
.abs_on_hover img{width:111px;height:81px;}
.abs_on_hover span.hover{display:none;}
.abs_on_hover span.hover.price{font-weight:bold;}

.carousel_wrap li:hover .abs_on_hover{position: absolute;top:-7px;left:-23px;border:2px dotted #BED400;box-shadow: 0 3px 10px rgba(0,0,0,0.15);padding: 7px 8px;	z-index: 10;}
.carousel_wrap li:hover .abs_on_hover img{width:138px;height:103px;}
.carousel_wrap li:hover .abs_on_hover span.hover{display: block;}
.content_wrap{margin:  8px  15px   0px  15px;}
.content_wrap.index_page{margin: -72px 35px 0;}
.content_wrap:after{display: block;	content:'';clear: both;height:137px;width:100%;}

a.header_link{font: italic 18px  Arial, Helvetica, sans-serif;display: inline-block;padding: 2px 0px 4px;margin: 0px 7px 0px 0px;text-decoration:underline;cursor:pointer;}
a.header_link.active{background-color: #BED400;color: #FFF;padding: 2px 10px 4px 10px;}
.aside{width:230px;float: right;padding:0;}

.gallery_block_wrap{margin: 3px 0px 19px 0px;}
.gallery_block_wrap a{color:#FF9000;font-size:11px;}
#object_card_gallery li img{margin: 6px 4px 6px 4px;width:100px;}
.gallery_block{font-size: 1px;/*text-align-last:justify;*/margin:5px 0px 0px 0px;/*text-align:center;*/}
.gallery_block:after{width:100%;height:0;visibility: hidden;overflow: hidden;content:'';display: inline-block;}
.gallery_block li{list-style:none;display: inline-block;vertical-align:middle;}
.gray_block{padding: 12px 20px 15px 20px;background-color: #F2F2F2;margin:   0px    0px   15px    0px;}

.content{margin: 0px 245px 0px 0px;}
.content_wide{margin: 0;}
.project_partners_wrap{float:left;/*width:30%;position:absolute;*/width:260px;}
.project_news_wrap{/*float: left;width:65%;*/margin: 0px 0px 0px 255px;}
.project_news{background-color:#f9f9f9;margin-top:10px;padding:    5px    10px     5px    15px;}
.project_news li{list-style:none;margin:0px 0 12px;overflow:hidden;line-height:20px;}
.project_news li img{float:left;margin:    0px    10px     0px     0px;max-width:75px;}

.footer{border-top:2px solid #f7931e;background: url(../images/footer_bg.png) repeat-x 0 0 #FFF;clear: both;padding: 21px 0px 20px;position:absolute;bottom:0;	width:100%;}
.footer.index_page{}
.small_logo{float: left;padding: 0px 8px 10px 0px;}
.left_col_56perc{float:left;width:49%;}
.right_col_42perc{float:right;width:47%;}
.green_top_border_block{/*border-top:2px solid #BED400;*/padding:5px 0 12px;line-height:18px;margin-right:-5px;}
.clear_left{clear:left;} .clear_right{clear:right;} .clear_both{clear:both;}

/* Object Detail Page */
table.items_2{width:100%;margin-top:4px;background-color:#f2f2f2;border-collapse:collapse !important;} table.items_2 .even {background-color:#fff;}
table.items_2 td{width:40%;/*padding-left:20px;*/border-collapse:collapse !important;line-height:16px;}
table.items_2 td.t{width:60% !important;}/*table.items_2 tr td:first-child{padding:0;}*/
/*table.items_2 td.check{background:url(../images/check_small.png) no-repeat 0 center;}*/
.object_main_inf{font:normal normal 400 12px/24px Arial,Helvetica,sans-serif;/*margin:0 0 25px;*/}
.object_main_inf a{color:#FF9000;}
.object_actions{list-style:none;margin: 20px   0px  32px   0px;}
.object_actions a{color:#1B1464;line-height:24px;}	.object_actions a:hover {text-decoration:none;}
.object_actions span.success{display:inline-block;margin-left:27px;padding-left:27px;background:url(../images/check.png) no-repeat left bottom;line-height:20px;} .object_actions span.innote{display:inline-block;/*margin-left:27px;*/padding-left:25px;background:url(../images/check16.png) no-repeat left center;line-height:24px;}
/* / Object Detail Page */

.map{text-align:center; margin: 0px 0 8px;}
.map img{}
div#YMapsID {width:auto; height:365px;}
.hide_map{font-size:11px; color:#1B1464; position:relative;}
.hide_map:after{display:block;position:absolute;content:'';background:url(../images/arrow_up_blue.png) no-repeat 0 0;width:5px;height:11px;left:100%;bottom:1px;margin-left:3px;}
.display_map{text-decoration:none; color:#000; position:relative;}
.display_map:after{display:block;position:absolute;content:'';background:url(../images/arrow_down.png) no-repeat 0 0;width:5px;height:11px;left:100%;bottom:1px;margin-left:3px;}

sup{line-height:6px;}
.also_to_view_wrap{margin-top:7px;}
/*.also_to_view{font-size: 1px;text-align:justify;text-align-last:justify;}*/
.also_to_view:after{width:100%;height:0;visibility: hidden;overflow: hidden;content:'';display: inline-block;}
.also_to_view li{list-style:none;display: inline-block;margin: 13px 17px 0px 0px;}
.also_to_view li a{font-size:11px;text-decoration:none;color:#000;}

.history_back{color:#FF9000; position:relative; padding:4px 0px 28px 17px; display:block;}
.history_back:after{display:block;position:absolute;content:'';background:url(../images/arrow_left_orange.png) no-repeat 0 0;width:11px;height:5px;left:2px;top:9px;}
.history_back.blue{color:#1B1464;}
.history_back.blue:after{background:url(../images/arrow_left_blue.png) no-repeat 0 0;}

.pagination{list-style-type:none;padding:8px 0px;text-align:center;}
.pagination li{display:inline;font:normal normal 700 19px Arial,Helvetica,sans-serif;}
.pagination li a{color:#1B1464;padding:2px 4px;text-decoration:none;}
.pagination li.page.active{background:#99cc2d;border:1px solid #636e06;border-radius:5px;box-shadow:1px 1px 3px #3d3a3a inset;color:#fff/*#BED400*/;padding:2px 4px;}
.pagination li a.prev{background:url('../images/arrow_left_blue_17.png') no-repeat scroll center center transparent;padding:0px 14px;}
.pagination li a.next{background:url('../images/arrow_right_blue_17.png') no-repeat scroll center center transparent;padding:0px 14px;}

.slider{position: relative;margin-bottom:55px;}
.slider dt{display:inline-block;}
.slider dd{display:none;	position:absolute;top:40px;}
.slider dd.display{display:block;}
.slider .list{padding-left:15px;	font-size:14px;width:665px;}
.slider ul.list li{margin-bottom:7px;margin-left:15px;}
.slider .list dt{display:block;padding-left:50px;	position:relative;font-weight:bold;}
.slider .list dt:before{display:block;width:36px;	position:absolute;content:'';background:url(../images/icons_sprite.png) no-repeat 0 0;top:2px;left:0;}
.slider .list dt.awareness:before{height:34px;}
.slider .list dt.organization:before{height:25px; background-position:0 -34px;}
.slider .list dt.competitor:before{height:31px; background-position:0 -59px;}
.slider .list dt.details:before{height:36px; background-position:0 -90px;}
.slider .list dt.stay_up:before{height:33px; background-position:0 -126px;}
.slider .list dt.notebook:before{height:32px; background-position:0 -159px;}
.slider .list dd{display:block;position:relative;top:0;padding:0 0 10px 50px;}

#gallery_popup{position:absolute;border:2px solid #BED400;background-color:#FFF;width:70%;z-index:150;padding:30px 0 185px 0;min-width:710px;max-width:890px;	display:none;}
.gallery_close{position:absolute;display:block;width:30px;height:30px;background:url(../images/popup_close_big.png) no-repeat 0 0;top:9px;right:7px;}
#gallery_popup .jcarousel-skin-tango{position:absolute;bottom:0;	left:0;right:0;}
#gallery_popup .gallery_big_image{width:575px;margin:auto;position:relative;}
#gallery_popup .gallery_big_image img{width:100%;cursor:pointer;}
#gallery_popup:after{display: block;content:'';clear: both;	border-top:2px solid #bed400;position:absolute;left:0px;right:0px;height:14px;bottom:130px;background:url(../images/top_aftre_shadow.png) no-repeat center;}
#gallery_carousel{font-size: 0;white-space: nowrap;	height:119px;padding-top:20px;}
#gallery_carousel li{display: inline-block;list-style:none;margin: 0 4px;	position: relative;min-height:1px;vertical-align:top;white-space: normal;cursor:pointer;}
#gallery_carousel li img{width:110px;}
#login_form{padding:32px 18px 10px;right:10px;top:8px;text-align:center;font-size:14px;}
#login_form form{text-align:left;margin-bottom:15px;}
#login_form form > div{clear:both;max-width:220px;overflow:hidden;padding-top:4px;margin-bottom:10px;}
#login_form form > div:first-child{margin-bottom:0;}
#login_form input[type='text'], #login_form input[type='password']
	{float:right;	margin:0 0 5px 10px;position:relative;bottom:4px;border:1px solid #BED400;padding: 2px 1px 1px 3px;font-family:Arial;background:url("../images/input_text_bg.png") repeat-x 0 0 #fcfcfc;}
#login_form input[type='checkbox']{vertical-align:sub;margin-left:10px;}

.free_space{margin-top:5px;}
.free_space li{list-style:none;display:block;	font-size:11px;background:url(../images/free_space_li_bg.png) repeat-y 0 0 #e6e6e6;padding:4px;border:1px solid #F7931E;margin:0 7px 4px 0;float:left;}
.free_space li .text{margin-top:2px;}

/* Search page  */
.content > .object_table{width:100%;margin-top:25px;margin-bottom:25px;}
.content > .object_table .post{position:relative;background-color:#f2f2f2/*#E6E6E6*/;height:55px/*70px*/;padding:5px 5px 5px 5px;line-height:55px;}
.content > .object_table .even{background-color:#fff !important;} 
/*.cabBlock .infoBlock:first-child{border-top:0;}*/
.content > .object_table .image{float:left/*;margin:0px 2px 2px 5px 0;position:relative*/;width:94px/*;height:68px;text-align:center*/;text-align:center;/*line-height:55px;*/}
.content > .object_table .image .hot.tl{position:absolute;top:0px/*-10px*/;left:-2px/*-9px*/;max-height:31px;max-width:31px;}
.content > .object_table .image img{max-height:55px;max-width:85px;vertical-align:middle;}
.content > .object_table .adress{float:left;width:310px/*;height:50px;border-right:1px solid #999999;padding:10px 5px 10px 5px*/;bottom:4px;left:100px;line-height:18px;position:absolute;}
.content > .object_table .object_main_info{/*float:left;*/	font-size:15px;line-height:18px;font-weight:700;list-style:none;/*height:60px;padding:4px 24px 0 0px;*/margin:-2px 0 0 310px;display:inline-block;vertical-align: middle;}
.content > .object_table .object_main_info > a{color:#2E3192;display:inline;}
/*.cabBlock .object_main_info span{display:inline-block;background-color: #99CC2D;border:1px solid #636e06;padding: 1px 5px 1px 7px;margin:3px 0 0 -7px;	border-radius:5px;box-shadow: inset 1px 1px 3px #3d3a3a;}*/
.content > .object_table .object_action{float:right;width:86px;height:50px;margin-top:2px;padding:0 0 0  6px;border-left:1px solid #999999;}
.content > .object_table .object_action .popup_link{display: inline-block;position: relative;color: #2E3192;text-decoration:none;border-bottom:1px dotted;font-size:14px;line-height:18px}
.content > .object_table span.success{display:inline-block;margin-top:8px;padding-left:23px;background:url(../images/check.png) no-repeat left bottom;line-height:20px;}
.content > .object_table .object_action .popup_link:after{display: block;position: absolute;content:'';width:0;height:0;border:4px solid transparent;border-top-color:#2E3192;top:0.55em;right:-11px;}
.content > .object_table .object_action li{list-style:none;}
.content > .object_table .more_see{float:right;width:110px;height:70px;list-style:none;}
.content > .object_table .more_see a{float:right;width:110px;height:25px;margin-top:15px;margin-right:10px;padding-top:10px;font-size:14px;display: inline-block;background:url(../images/bg-more.png) top right no-repeat;}
.content > .object_table .have{color:#f18c00;}
#action_list{position:absolute;padding:5px;right:0px;top:90px;text-align:left;font-size:14px;}
/*.sort_select_t{display: inline-block;vertical-align:top;position: relative;color: #2E3192;padding: 0 12px 0 0;background:url(../images/arr_t.png) right 7px no-repeat;}
.sort_select_b{display: inline-block;vertical-align: top;position: relative;color: #2E3192;padding: 0 12px 0 0;background:url(../images/arr_b.png) right 7px no-repeat;}*/
.search-query{font:italic normal 400 15px  Arial,Helvetica,sans-serif;margin:  0px   0px   0px  24px;}
.sort-items{float:right;font:italic normal 400 12px Arial,Helvetica,sans-serif;margin:6px 0 0 0;}
.pop_up{position: absolute;border:2px dotted #BED400;box-shadow: 0 3px 10px rgba(0,0,0,0.15);background-color:#FFF;z-index:11;display:none;line-height:18px;}
.pop_up.action-window {position:absolute;padding:5px;right:0px;top:4px;text-align:left;font-size:14px;}
.pop_up a {/*border-bottom:1px dotted #2E3192;*/text-decoration:none;}
.pop_up a:hover {/*border-bottom-style:solid;*/text-decoration: underline;}
.sort-items a{border-bottom:1px dotted;font-style:normal;margin:0 16px 0 8px;position:relative;text-decoration:none;}
/*.search-query{font: bold italic 12px no-serif;}*/
.no_search{float:left;margin:6px 0 0px 24px;}
/* / Search page  */

div.errorSummary {color:#B83939; font-size:14px;}
div.errorSummary ul {margin:8px 0 15px 30px; font-size:14px;}
div.errorSummary  li {list-style-type: circle;}

div.errorFormat02 {background-color:#f6f6f6;padding:   5px    0px    9px   15px;}
div.errorFormat02 div.errorSummary {color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;padding:0;}
div.errorFormat02 div.errorSummary ul {color:#B83939; font-size:12px; margin:  11px    0px    0px   20px/*15px 0 0 20px*/; padding:0;list-style:disc outside;}
div.errorFormat02 div.errorSummary ul li {font:400 12px/18px Arial,Helvetica,sans-serif; margin:0 0 0 30px;padding:0;}

/* Registration page  */
.section {width:72%; margin:0 0 0 10px;}
div.section div.errorSummary {float:left; margin:13px 0 0 25px;}
.tabs {width:500px; list-style:none; margin-top:20px; padding-left:20px; line-height:24px; height:26px; overflow:hidden; font-size:12px; position:relative; margin-right:360px;}
.tabs li{display: inline-block; position: relative; z-index: 0;padding: 0 20px;cursor:pointer;font-size:14px;}
.tabs li.selected {display: inline-block;position: relative; z-index: 0;border: 1px solid #808080;border-top-left-radius: 6px; border-top-right-radius: 6px;text-shadow: 0 1px #FFF; padding: 0 20px; background: #FFF; z-index: 2; border-bottom-color: #FFF;}
.tabs li.selected:before, .tabs li.selected:after {border: 1px solid #808080; position: absolute;bottom: -1px; width: 5px;height: 5px; content: " ";}
.tabs li.selected:before {left: -6px; border-bottom-right-radius: 6px; border-width: 0 1px 1px 0; box-shadow: 2px 2px 0 #808080; box-shadow: 2px 2px 0 #FFF;}
.tabs li.selected:after {right: -6px; border-bottom-left-radius: 6px; border-width: 0 0 1px 1px; box-shadow: -2px 2px 0 #808080; box-shadow: -2px 2px 0 #FFF;}
.reg_post{position: relative;width: 100%;height:398px;float:left;margin-top:-1px;border:1px solid #808080;border-radius:8px;z-index: 0;	background:url(../images/bg-block.png) repeat-x;}
.box {display: none;	padding: 0 12px;}
.box.visible {display: block;}
span.ok {color:#BED400; background: url(../images/cab_pass_ok.png) 0 3px no-repeat; padding-left:20px; }
span.err {color:#810000; padding-left:20px;}
#e_mailSpan {display:block; margin-bottom:-8px;}

#reg_form{ margin:8px;}
.pers-data{float:left;width:250px;font: bold italic 15px Arial, Helvetica, sans-serif;margin-top:10px;}
.pers-data input{width:227px;padding-left:7px; height:21px; margin:7px 0; border:1px solid #ffa535;}
.reg-data{float:left;clear:both;width:250px;font: bold italic 15px Arial, Helvetica, sans-serif; margin-top:10px;}
.reg-data input{width:227px;padding-left:7px;height:21px;margin:7px 0;border:1px solid #ffa535;}
.cont-data{float:left;width:45%;font: bold italic 15px Arial, Helvetica, sans-serif;margin-top:10px; margin-left:4%;}
.cont-data input{width:227px;padding-left:7px;height:21px;margin:7px 0; border:1px solid #ffa535;}

.capcha{float:left;width:45%;font: bold italic 15px Arial, Helvetica, sans-serif; margin-top:-30px; margin-left:4%;}
.capcha .content{width:239px; height:110px; margin-top:10px;}
.capcha .content .image{float:left;width:87px;height:47px;}
.capcha .content span{position:absolute;top:204px;left:390px;font:15px Arial, Helvetica, sans-serif;color:#EA0000;}
.capcha .content span a{font:15px Arial, Helvetica, sans-serif;color:#EA0000;}
.capcha .content p{clear:both;font:12px Arial, Helvetica, sans-serif;padding:8px 0 0 0;}
.capcha .content input{width:227px;padding-left:7px;height:21px;margin:7px 0; border:1px solid #ffa535;}

.regulations{float:left;font: 12px Arial, Helvetica, sans-serif;margin-left:-3px;}
.regulations a{margin-left:21px;}
#reg_form .green_link_rounded{font: 14px Arial, Helvetica, sans-serif;font-weight:bold;background-color: #b6d500;padding: 5px 12px 5px;border-radius:11px;cursor: pointer; margin:10px 60% 0px 40%;float:left;display:block;}
.p{font:italic 14px Arial, Helvetica, sans-serif;}
.proff {position:absolute;top:-3px;left:279px;width:150px;font: bold 14px Arial, Helvetica, sans-serif; color:#999; padding:6px 41px 6px 0; background:url(../images/arr-new.png) no-repeat right center;}
.anons{float:right;width:24%;height:398px;border:1px solid #808080;border-radius:8px;margin-top:62px; margin-bottom:130px; background:url(../images/bg-block.png) repeat-x;}
.gray_block_a{padding: 12px 20px 15px 20px;background-color: #F2F2F2;margin: 62px 0px 0px 16px;}
/* / Registration page  */

.banners {margin:/*15px 0*/0;}
.banner240 {width:240px; margin: 0 0 30px 0;}
.banner1248 {width:100%; text-align:center;}

.no_search > a{border-bottom:1px dotted;text-decoration:none;}
.sort-items a:after{display: block;position: absolute;content:'';width:0;height:0;border:4px solid transparent;border-top-color:#2E3192;top:0.55em;right:-11px;}

body > .top_bg{background:url('../images/top_bg.png') repeat-x scroll 0 0 /*border-box*/ #fff;height:162px;position:absolute;width:100%;z-index:-1;}

.clientNav{background:url('../images/top_aftre_shadow.png') no-repeat scroll 50% top /*border-box*/ #999;border-top:3px solid #bdd400;color:#fff;font:normal normal 700 13px/33px Arial,Helvetica,sans-serif;margin: 18px   0px;padding:  0px   0px   0px  15px;position:relative;width:98.7%;}
.clientNavL{background-color:transparent;}
.clientNav > .clientNavIn{display:inline-block;font:normal normal 400 17px/33px Arial,Helvetica,sans-serif;margin:  0px   0px   1px   0px;/*left:17% ;position:absolute;right:83%;top:-1px;width:500px;*/}
/*.clientNav > .clientNavInL{left:10px;}*/
.clientNav > .clientNavIn > a{border-bottom:1px dashed #fff;color:#fff;margin:  0px   7px   0px   7px;/*-moz-text-decoration-style:dashed;-ms-text-decoration-style:dashed;-o-text-decoration-style:dashed;-webkit-text-decoration-style:dashed;text-decoration-style:dashed;*/text-decoration:none;}
.clientNav > .clientNavIn > span{background-color:#0072bb;border:1px solid #014b7c;border-radius:5px;box-shadow:1px 1px 3px #3d3a3a inset;margin:  160px   0px   160px   0px;padding:  0px   7px   1px   7px;text-decoration:none;}
.clientNav > .clientNavTitle{padding:  0px   70px   0px   0px;vertical-align:top;}

.dealNav{background: url('../images/arr-new2.png') no-repeat scroll 155px 50% /*border-box*/ #fff;color:#fff;font:normal normal 400 17px/22px Arial,Helvetica,sans-serif;margin:  16px   0px -8px   0px;padding:  0px   0px   0px   0px;/*position:relative;width:60%;*/}
/*.dealNav > .dealNavIn{display:block;font:normal normal 400 17px/22px Arial,Helvetica,sans-serif;left:0px;position:absolute;top: 0px;width:500px;}*/
.dealNav > a{/*border-bottom:1px dashed #fff;*/color:#808080;margin:  0px   7px;/*padding-bottom:-16px;-moz-text-decoration-style:dashed;-ms-text-decoration-style:dashed;-o-text-decoration-style:dashed;-webkit-text-decoration-style:dashed;text-decoration-style:dashed;*/text-decoration:none;}
.dealNav > span{background-color:#0072bb;border:1px solid #014b7c;border-radius:5px;box-shadow:1px 1px 3px #3d3a3a inset;margin:  0px   0px -10px   0px;padding:  0px   7px;text-decoration:none;}

.content > .object_table .post .object_date{color:#bbb;font:normal normal 400 12px/19px Arial,Helvetica,sans-serif;left:340px;position:absolute;top: 6px;}
.content > .object_table .post .object_status{color:#89c73e;display:inline-block;margin:   0px   0px   0px   7px;padding:  0px   0px   0px  24px;vertical-align:middle;}
.content > .object_table .post .object_status.active{background:url('../images/check.png') no-repeat scroll left 50% /*border-box*/ transparent;}
.content > .object_table .post .object_status.inactive{background:url('../images/no-01.png') no-repeat scroll left 50% /*border-box*/ transparent;}
.content > .object_table .post .object_status.moderating{background:url('../images/vop-01.png') no-repeat scroll left 50% /*border-box*/ transparent;}
.content > .object_table .post .fog{background: url('../images/notepad_inactive_bg.png') repeat scroll 0px 0px /*border-box*/;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}
.content > .object_table .post .object_type{color:#bfd302;font:normal normal 400 14px/20px Arial,Helvetica,sans-serif;left:100px;position:absolute;top: 5px;}
.content > .object_table .post .myorders{display:inline-block;margin-left: 16px;}
.content > .object_table .post .myorders_info{display:inline-block;line-height:15px;}
.content > .object_table .post .myorders_title{color:#313195;line-height:24px;}

.content > .about{height:480px;position:relative;}
.content > .about > .about_definition{/*display:inline-block;float:left;height:480px;*/padding: 12px   8px   8px   8px;/*vertical-align:top;*/}
.content > .about > .about_definition .about_definition_contacts{font:normal normal 400 17px/22px Arial,Helvetica,sans-serif;margin: 16px   0px  22px   0px;}
.content > .about > .about_definition .about_definition_contacts_nophoto{display:inline-block;margin:  0px   0px  22px  16px;vertical-align:top;}
.content > .about > .about_definition .about_definition_pm{background:url('../images/pm.png') no-repeat scroll 8px 50% /*border-box*/ #0171bd;border:1px solid #014b7c;border-radius:5px;box-shadow:1px 1px 3px #3d3a3a inset;color:#fff;cursor:pointer;padding:  8px   8px   8px  40px;}
.content > .about > .about_info{display:inline-block;/*float:right;height:480px;*/left:330px;margin: 12px   8px   8px   8px;padding: 15px  20px  15px  20px;position:absolute;top:0px;/*vertical-align:top;*/}
.content > .about > .about_info_r{background-color:#f2f2f2;border:1px solid #cdde3a;border-radius:16px;}
.content > .about > .about_info > h1{font:normal normal 400 17px/33px Arial,Helvetica,sans-serif;}
.content > .about > .about_info > p{font:normal normal 400 13px/20px Arial,Helvetica,sans-serif;padding:  0px   0px  24px   0px}

.content > .lc_form{position:relative;width:100%;}
.content > .lc_form > .lc_form_group{background-color:#f2f2f2;border:1px solid #cdde3a;border-radius:12px;margin: 16px 428px   0px   0px;padding: 16px  16px  60px  16px;}
.content > .lc_form > .lc_form_group > .mypage_photo{display:inline-block;/*max-height:74px;*/max-width:112px;text-align:center;vertical-align:middle;}
.content > .lc_form > .lc_form_group > .mypage_photo > a{background: url('../images/popup_close.png') no-repeat scroll 0px 50% /*border-box*/ transparent;display:inline-block;font:normal normal 400 10px/16px Arial,Helvetica,sans-serif;padding:  8px   0px   8px   24px;}
.content > .lc_form > .lc_form_group > .mypage_photo > img{max-height:74px;max-width:112px;}
.content > .lc_form > .lc_form_group > h1{display:inline-block;font:italic normal 400 17px/20px Arial,Helvetica,sans-serif;margin:  0px   8px   8px   0px;}
.content > .lc_form > .lc_form_group > h2{display:inline-block;font:italic normal 400 14px/16px Arial,Helvetica,sans-serif;margin: 16px  24px   2px   0px;}
.content > .lc_form > .lc_form_group > i{color:#676767;}
.content > .lc_form > .lc_form_group > .verify_fields,
.content > .lc_form > .lc_form_group > .verify_notes{display:inline-block;vertical-align:top;}
.content > .lc_form > .lc_form_group > .verify_notes{margin:  0px   0px   0px   0px;width:260px;}
.content > .lc_form > .lc_form_group > .verify_notes.hide{display:none;}
.content > .lc_form > .lc_form_group > .verify_errors{display:inline-block;margin:  0px   0px   0px   0px;width:260px;vertical-align:top;}
.content > .lc_form > .lc_form_group > .verify_errors.hide{display:none;}
.content > .lc_form > .lc_form_group > .verify_notes span.ok,
.content > .lc_form > .lc_form_group > .verify_notes span.err{font: bold italic 15px/34px Arial, Helvetica, sans-serif;}
.content > .lc_form > .lc_form_group > input[type="submit"]{float:right;font:normal normal 700 14px/20px Arial,Helvetica,sans-serif;margin: 16px   0px   0px   0px;padding:  5px   8px   5px   8px;}
.content > .lc_form > .lc_form_group input[type="password"],
.content > .lc_form > .lc_form_group input[type="file"]{border:1px solid #be7117/*#ffa535*/;font:normal normal 400 12px/22px Arial,Helvetica,sans-serif;margin: 8px   8px  6px  24px;padding:2px;width:200px;}
.content > .lc_form > .lc_form_group input[type="text"]{border:1px solid #be7117/*#ffa535*/;font:normal normal 400 12px/16px Arial,Helvetica,sans-serif;margin: 8px   8px  6px   0px;padding:1px;}
.content > .lc_form > .lc_form_group > span{background: url('../images/ok-01.png') no-repeat scroll 0px 50% /*border-box*/ transparent;color:#676767;float:right;font:italic normal 400 12px/16px Arial,Helvetica,sans-serif;margin: 20px   0px   0px   0px;padding:  2px  24px   2px  24px;vertical-align:bottom;}
.content > .lc_form > .lc_form_group > textarea{border:1px solid #be7117/*#ffa535*/;display:block;font:normal normal 400 12px/16px Arial,Helvetica,sans-serif;padding:2px;width:99%;}
.content > .lc_form > .easy_notify{background: url('../images/form_notify_arrow.png') no-repeat scroll 0px 50% /*border-box*/ transparent;display:inline-block;font:normal normal 400 11px/18px Arial,Helvetica,sans-serif;margin-top:16px;position:absolute;right: 0px;top:32px;width:420px;}
.content > .lc_form > .easy_notify > div{border:1px solid #BDD400;border-left-width:0px;color:#676767;padding: 12px  12px  12px  18px;margin-left:18px;}
.content > .lc_form > .easy_notify > div > h1{color:#323232;font:normal normal 700 14px/22px Arial,Helvetica,sans-serif;}
.content > .lc_form > .easy_notify > div > p{padding: 12px   0px   0px   0px;}

.hide{display:none;}

.object_main_inf > .object_main_inf_class{color:#333;font:italic normal 400 12px/16px Arial,Helvetica,sans-serif;margin:   2px    0px    0px    0px;}
.object_main_inf > .object_main_inf_d{display:inline-block;font:normal normal 400 14px/24px Arial,Helvetica,sans-serif;}
.object_main_inf > .object_main_inf_date{color:#999;font:normal normal 400 12px/16px Arial,Helvetica,sans-serif;}
.object_main_inf > .object_main_inf_h{display:inline-block;width:145px;font:normal normal 400 14px/24px Arial,Helvetica,sans-serif;}
.object_main_inf > .object_main_inf_price{background-color:#f7921e;color:#fff;display:inline-block;font:normal normal 400 16px/20px Arial,Helvetica,sans-serif;margin:  8px   0px  12px   0px;padding:  4px   5px   5px   7px;}
.object_main_inf > .object_main_inf_type{/*color:#999;*/font:normal normal 700 22px/28px Arial,Helvetica,sans-serif;}

.object_actions{display:inline-block;margin: 12px   25px  12px   0px;vertical-align:top;}
.object_actions	> li{font:normal normal 14px/24px Arial, Helvetica, sans-serif;margin:  0px   0px   0px   0px;padding:  0px   0px   0px   0px;}
.object_actions > .object_actions_abuse{background:url('../images/abuse.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:  0px   0px   0px  25px;}
.object_actions > .object_actions_cptnp{background:url('../images/cptnp.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:  0px   0px   0px  25px;}
.object_actions > .object_actions_pdf{background:url('../images/pdf.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:  0px   0px   0px  25px;}
.object_actions > .object_actions_print{background:url('../images/print.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:  0px   0px   0px  25px;}
.object_actions > .object_actions_zip{background:url('../images/zip.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:  0px   0px   0px  25px;}

.green_top_border_block > h2{font:normal normal 700 18px/36px Arial,Helvetica,sans-serif;margin:  0px   0px   8px   0px;}
.green_top_border_block > h3{font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;margin:  0px   0px   4px   0px;}

table.items_2 > tbody > tr > td{padding:  5px   5px   5px  15px;}

.also_to_view_wrap > .recommend{font:normal normal 400 17px/18px Arial,Helvetica,sans-serif;position:relative;height:20px;}
.also_to_view_wrap > .recommend > span{background-color:#fff;display:inline-block;padding-right:5px;position:absolute;}
.also_to_view_wrap > .recommend > .border{border-bottom:2px solid #f8931e;height:8px;}

.gallery_block_wrap img.arrow_thumbs{margin:0px !important;width:15px !important;}

.subt{color:#999;}

.download_list_files		{float:right;width:70px;}
.download_list_title		{margin-right:75px;margin-top:-3px;overflow:hidden;}
.download_list_title_lbl	{float:left;background-color:#fff;height:15px;margin-top:3px;}
.download_list_title_dots	{border-bottom:1px dotted #333;line-height:17px;}

.docs_any{background:url('../images/any.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:   0px    0px    0px   20px;}
.docs_doc{background:url('../images/doc.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:   0px    0px    0px   20px;}
.docs_xls{background:url('../images/xls.png') no-repeat scroll 0px 50% /*border-box*/ transparent;padding:   0px    0px    0px   20px;}
.docs_any:hover	{text-decoration:none;}
.docs_doc:hover {text-decoration:none;}
.docs_xls:hover {text-decoration:none;}

.more_news{}
.more_news li{list-style:none;margin: 5px 0px 0px 0px;}
.more_news li a{}

.header1HWW			{color:#333;font:normal normal 700 36px/57px Arial,Helvetica,sans-serif;line-height:57px;}
.header2HWW			{border:0px solid #ddd;border-top-width:1px;color:#333;font:normal normal 400 30px/50px Arial,Helvetica,sans-serif;line-height:50px;padding-top:60px;}
.paragraphHWW			{font:normal normal 400 14px/24px Arial,Helvetica,sans-serif;margin-top:17px;}
.tableHWW			{background-color:#fcfcfc;}
.tableHWW_r01,
.tableHWW_r02			{border:0 solid #ebebeb;border-bottom-width: 1px;text-align:center;}
.tableHWW_r01			{background:url('../images/how_we_work_borders.png') repeat-x scroll    0px    0px /*border-box*/ transparent;border-top-width: 1px;}
.tableHWW_r02			{background:url('../images/how_we_work_borders.png') repeat-x scroll    0px  100% /*border-box*/ transparent;}
.tableHWW_c00,
.tableHWW_c01,
.tableHWW_c02			{border:0 solid #ebebeb;border-right-width : 1px;color:#808080;display:inline-block;font:normal normal 400 14px/18px Arial,Helvetica,sans-serif;padding:37px 29px;text-decoration:none;width:124px;}
.tableHWW_c00:hover,
.tableHWW_c01:hover		{background-color:#f6f6f6;}
.tableHWW_c00			{border-left-width: 1px;}
.iconHWW			{height:50px;margin:0 auto 15px auto;width:50px;}
.iconHWW._01			{background:url('../images/how_we_work_icons.png') no-repeat scroll    0px    0px /*border-box*/ transparent;}
.iconHWW._02			{background:url('../images/how_we_work_icons.png') no-repeat scroll  -50px    0px /*border-box*/ transparent;}
.iconHWW._03			{background:url('../images/how_we_work_icons.png') no-repeat scroll -100px    0px /*border-box*/ transparent;}
.iconHWW._04			{background:url('../images/how_we_work_icons.png') no-repeat scroll -150px    0px /*border-box*/ transparent;}
.iconHWW._05			{background:url('../images/how_we_work_icons.png') no-repeat scroll -200px    0px /*border-box*/ transparent;}
.iconHWW._06			{background:url('../images/how_we_work_icons.png') no-repeat scroll    0px  -50px /*border-box*/ transparent;}
.iconHWW._07			{background:url('../images/how_we_work_icons.png') no-repeat scroll  -50px  -50px /*border-box*/ transparent;}
.iconHWW._08			{background:url('../images/how_we_work_icons.png') no-repeat scroll -100px  -50px /*border-box*/ transparent;}
.iconHWW._09			{background:url('../images/how_we_work_icons.png') no-repeat scroll -150px  -50px /*border-box*/ transparent;}
.imgHWW				{border:1px solid #fff;display:block;margin:30px auto 0 auto;}

.pagination02					{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;text-align:center;}
.pagination02 > a.prev				{margin:   0px    5px    0px    0px;}
.pagination02 > span.prev > a,
.pagination02 > span.prev > a:hover,
.pagination02 > span.next > a,
.pagination02 > span.next > a:hover		{border:0px;/*color:#2e3192;*/color:#777;font:normal normal 700 20px/18px Arial,Helvetica,sans-serif;padding:   2px;text-decoration:none;vertical-align:bottom;}
.pagination02 > span.active			{border:2px solid #ddd;background-color:#c0d403;color:#fff;padding:   2px    5px    2px    5px;}
.pagination02 > span > a			{border:2px solid #ddd;color:#777;margin:   0px    0px    0px    0px;padding:   2px    5px    2px    5px;text-decoration:none;}
.pagination02 > span > a:hover			{border:2px solid #cedf41;color:#333;}
.pagination02 > div.goto			{color:#777 !important;margin:   10px    0px    0px    0px;}

.story						{padding:  10px    0px    0px    0px;}
.optional_col					{float:right}

.story a					{color:#2e3192;}
.story a:hover					{text-decoration:none;}
.story a:visited				{color:#666;}
.story em					{font-style:italic;}
.story strong					{font-weight:700;}
.story h1					{color:#000;font:normal normal 700 21px/38px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story h2					{color:#000;font:normal normal 700 16px/24px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story h3					{color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story p > img					{float:left;margin:   0px   10px    0px    0px;}
.story p					{color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   5px    0px   20px    0px;}
.story ol					{list-style:decimal outside;margin:   5px    0px   20px   28px;padding:   0px    0px    0px    0px;text-indent:-3px;}
.story ol > li > ol				{list-style:disc    outside;margin:   0px    0px    0px   25px;padding:   0px    0px    0px    0px;text-indent:-3px;}
.story ol > li > ol > li > ol			{list-style:circle  outside;margin:   0px    0px    0px   25px;padding:   0px    0px    0px    0px;text-indent:-3px;}
.story ul					{list-style:disc    outside;margin:   5px    0px   20px   28px;padding:   0px    0px    0px    0px;text-indent:-3px;}
.story ul > li > ul				{list-style:circle  outside;margin:   0px    0px    0px   25px;padding:   0px    0px    0px    0px;text-indent:-3px;}
.story ul > li > ul > li > ul			{list-style:square  outside;margin:   0px    0px    0px   25px;padding:   0px    0px    0px    0px;text-indent:-3px;}
.story ol > li					{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story ol > li > ol > li			{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story ol > li > ol > li > ol > li		{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story ul > li					{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story ul > li > ul > li			{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story ul > li > ul > li > ul > li		{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story table					{border-width:0px;border-collapse:collapse;border-spacing:0px;margin:   5px    0px   20px    0px;padding:   0px    0px    0px    0px;}
/*.story table > thead				{border-width:0px;border-collapse:collapse;border-spacing:0px;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}*/
.story table > tbody				{border-width:0px;border-collapse:collapse;border-spacing:0px;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
/*.story table > thead > tr			{border-width:0px;border-collapse:collapse;border-spacing:0px;height:30px;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}*/
.story table > tbody > tr:first-child		{border-width:0px;border-collapse:collapse;border-spacing:0px;height:30px;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story table > tbody > tr			{border-width:0px;border-collapse:collapse;border-spacing:0px;height:25px;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story table > tbody > tr.even			{border-width:0px;border-collapse:collapse;border-spacing:0px;background-color:#f2f2f2;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
/*.story table > thead > tr > th		{border-collapse:collapse;border-spacing:0px;border-bottom:1px solid #666;color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px   9px    0px   14px;vertical-align:middle;}*/
.story table > tbody > tr:first-child > td	{border-collapse:collapse;border-spacing:0px;border-bottom:1px solid #666;color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px   9px    0px   14px;vertical-align:middle;}
.story table > tbody > tr > td			{border-width:0px;border-collapse:collapse;border-spacing:0px;color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   5px    0px   20px    0px;padding:   0px   15px    0px   15px;vertical-align:middle;}

/*.story > div					{overflow:hidden;}*/
/*.story > div .chapter01			{margin:   0px    0px    0px    0px;}*/
.story .attention				{background-color:#f6f6f6;border:1px solid #f6f6f6;            margin:   0px    0px   15px    0px;padding:  14px   14px    9px   14px;width:450px;}	
.story .optional_col .attention			{background-color:#f6f6f6;border:1px solid #f6f6f6;/*float:right;*/margin:   0px    0px   15px   15px;padding:  14px   14px    9px   14px;width:200px;}
.story .attention > h3				{color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;                               margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story .optional_col .attention > h3		{color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;display:table-cell;height:36px;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;vertical-align:middle;}
.story .attention > img				{float:left;margin:   0px    5px    0px    0px;}	
.story .optional_col .attention > img		{float:left;margin:   0px    5px    0px    0px;vertical-align:middle;}	
.story .attention > p				{color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   5px    0px    0px   40px;padding:   0px    0px    0px    0px;}
.story .optional_col .attention > p		{color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   5px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story .form01					{background-color:#f6f6f6;border:1px solid #f6f6f6;margin:   0px    0px   15px    0px;padding:   9px   14px    4px   14px;}	
.story .form01_h1				{color:#000;font:normal normal 700 21px/21px Arial,Helvetica,sans-serif;margin:   0px    0px   15px    0px;padding:   0px    0px    0px    0px;}
.story .form01_h3				{color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story .note					{border:1px solid #BDD400;            margin:   0px    0px   15px    0px;padding:   9px   14px    9px   14px;width:450px;}
.story .optional_col .note			{border:1px solid #BDD400;/*float:right;*/margin:   0px    0px   15px   15px;/*overflow:auto;*/padding:   9px   14px    9px   14px;width:200px;}
.story .note > h3				{color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story .note > p				{color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   5px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.story .optional_col .note > p			{color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}

.h101							{color:#000;font:normal normal 700 21px/30px Arial,Helvetica,sans-serif;padding:   0px    0px    0px    0px;}		
.header1						{color:#000;font:normal normal 700 21px/30px Arial,Helvetica,sans-serif;margin-top:43px;padding:   0px    0px    0px    0px;}
.header2						{color:#000;font:normal normal 700 14px/20px Arial,Helvetica,sans-serif;margin:     0  ;padding:   0;}																																								/*Заголовок первого уровня*/
.h301							{color:#000;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;padding:   0px    0px    0px    0px;}																																									/*Заголовок третьего уровня*/

.formREG_wrp						{margin-right:65px;min-width:725px;}																																																			/*Wrap на сттранице регистрации*/
.formREG_wrp  .switch01_lbl {margin-left: 40px;}
.form01_grp			{margin:   0px    0px    15px    0px;padding:   0px   0px  -30px    0px;position:relative;}																																														/*Раздел формы*/

.form01_blk			{background-color:#f6f6f6;margin:   0px  245px    0px   0px;padding:   5px    0px   10px   15px;}																																												/*Серый блок формы*/
.form01_blk h1		{color:#333;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;padding:   2px    0px   10px    0px;}		
.form01_blk h2		{color:#333;font:normal normal 700 14px/20px Arial,Helvetica,sans-serif;padding:   0px    0px   10px    0px;}		
.formCPT_blk h2		{color:#333;float:left;font:normal normal 700 14px/50px Arial,Helvetica,sans-serif;padding:   0px    0px   10px    0px;width:240px;}																																							/*Заголовок первого уровня в сером блоке формы*/
.form02_blk			{filter:progid:DXImageTransform.Microsoft.Gradient(enabled='true',startColorstr=#FFFFFFFF,endColorstr=#FFF3F3F3);background:-moz-linear-gradient(top,#fff,#f3f3f3);background:-ms-linear-gradient(top,#fff,#f3f3f3);background:-o-linear-gradient(top,#fff,#f3f3f3);background:-webkit-linear-gradient(top,#fff,#f3f3f3);background:linear-gradient(top,#fff,#f3f3f3);border:1px solid #BDD300;padding:   4px   14px    9px   14px;}	
.form02_blk h1		{color:#333;font:normal normal 700 18px/28px Arial,Helvetica,sans-serif;padding:   0px    0px   12px    0px;}	
.form02_blk h2		{color:#333;font:normal normal 700 14px/20px Arial,Helvetica,sans-serif;padding:   0px    0px   10px    0px;}
.form3_blk 		    {filter:progid:DXImageTransform.Microsoft.Gradient(enabled='true',startColorstr=#FFFFFFFF,endColorstr=#FFF3F3F3);background:-moz-linear-gradient(top,#fff,#f3f3f3);background:-ms-linear-gradient(top,#fff,#f3f3f3);background:-o-linear-gradient(top,#fff,#f3f3f3);background:-webkit-linear-gradient(top,#fff,#f3f3f3);background:linear-gradient(top,#fff,#f3f3f3);border:1px solid #BDD300;padding:   4px;position:relative;}
.form3_set			{padding:10px;position:relative;}
.tab3_set			{font-size:14px;line-height:21px;margin-top:20px;padding:10px 0;position:absolute;top:-66px;}
.tab3.act			{background-color:#fff;border:1px solid #BDD300;border-bottom-width:0;float:left;padding:7px 14px;}
.tab3				{float:left;padding:8px 15px; cursor: pointer;}
.separator3			{border:1px solid #E6E6E6;border-top-color:transparent;margin:9px;}

.table02								{border:0;border-collapse:collapse;border-spacing:0;margin:   -4px   -14px    15px   -14px;padding:0;}
.table02 > thead						{border:0;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
.table02 > thead > tr					{border:0;border-collapse:collapse;border-bottom:1px solid #e4e4e4;border-spacing:0;height:34px;margin:0;padding:0;}
.table02 > thead > tr > th				{border:0;border-collapse:collapse;border-left:1px solid #e4e4e4;border-spacing:0;color:#333;font:normal normal 700 18px/28px Arial,Helvetica,sans-serif;margin:0;padding:   0px    9px    0px    9px;text-align:center;vertical-align:middle;width:200px;}
.table02 > thead > tr > th:first-child	{border:0;border-collapse:collapse;border-spacing:0;min-width:250px;padding:   0px    0px    0px   14px;text-align:left;width:35%;}
.table02 > tbody						{border:0;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
.table02 > tbody > tr					{border:0;border-collapse:collapse;border-bottom:1px solid #e4e4e4;border-spacing:0;height:25px;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;}
.table02 > tbody > tr > td				{border:0;border-collapse:collapse;border-left:1px solid #e4e4e4;border-spacing:0;margin:0;padding:   0px   10px;vertical-align:middle;}
.table02 > tbody > tr > td:first-child	{border:0;border-collapse:collapse;border-spacing:0;color:#333;font:normal normal 400 12px/15px Arial,Helvetica,sans-serif;margin:0;padding:   5px    9px    4px   14px;vertical-align:middle;}

.desc01				{color:#000;font:normal normal 400 12px/14px Arial,Helvetica,sans-serif;margin:    5px     0px    20px     2px;}
.note01				{border:1px solid #BDD300;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;height:100%;padding:  10px   15px    0px   15px;position:absolute;right:0px;top:0px;width:230px;}
.note01 > h1		{color:#323232;font:normal normal 700 14px/18px Arial,Helvetica,sans-serif;}
.note01 > p			{padding: 10px   0px   0px   0px;}
.note01 > p.done	{background:url('../images/ok-01.png') no-repeat scroll 0px 50% transparent;margin:   5px    0px    0px    0px;padding:   2px    0px    3px   25px;}
.note02             {position:absolute;left:550px;top:0;}

.note3{
    padding-right: 45px;
    width: 400px;
    float: left;
    line-height: 19px;
}

.check01                ,
.checkbox01   			,
.switch01               {margin:0  5px 0 0;vertical-align:middle;}
.switch02               {margin:0 40px 0 0;vertical-align:middle;}
.switch3_grp			{margin:25px 0 10px 0;}
.check01_lbl            ,
.checkbox01_lbl			{color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0px    0px    0px    0px;padding:   0px    0px    0px    0px;vertical-align:middle;}
.check3_lbl				{display:block;}
.check2_lbl,.check02_lbl,.checkbox02_lbl,
.switch01_lbl			{color:#000;font:normal normal 400 14px/20px Arial,Helvetica,sans-serif;padding:0;}
.desc2                   {   color: black;    font: normal normal 400 12px/18px Arial,Helvetica,sans-serif; }
.switch02_lbl			{color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:   0     15px    0      0  ;padding:   7px    3px    7px    0px;vertical-align:middle;}
.switch3_lbl			{cursor:pointer;color:#000;font:normal normal 400 14px/20px Arial,Helvetica,sans-serif;margin:   0     20px    0      0  ;padding:   7px    0;}
.input01				{border:1px solid #ccc;color:#000;font:normal normal 400 12px/15px Arial,Helvetica,sans-serif;height:15px;margin:0;padding:1px 1px 2px 2px;vertical-align: middle;}
.input01_lbl			{display:inline-block;color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;vertical-align:middle;}

#object2-form span.required {display: none;}

.input02{
    border: 0;
    color: #333;
    font: normal normal 400 12px/16px Arial,Helvetica,sans-serif;
    line-height: 16px;
    height: 16px;
    margin: 0 -3px 0 -3px;
    padding: 2px 2px 1px 2px;
}

.input02_lbl label      {padding-right: 5px;}
.input02_lbl            {padding-right: 5px;}
.error .input02 {border:0;}
.input02_rb0,
.input02_rb1,
.input02_rb2,
.input02_re0,
.input02_re1,
.input02_re2,
.input02_rf0,
.input02_rf1,
.input02_rf2			{display:inline-block;height:19px;margin-bottom:5px;padding:3px 0px 3px 0px;vertical-align:top;}
.input02_rb0			{background:url('../images/input02.png') repeat scroll   0px   0px /*border-box*/ transparent;width:6px;}
.input02_rb1			{background:url('../images/input02.png') repeat scroll   0px -25px /*border-box*/ transparent;}
.input02_rb2			{background:url('../images/input02.png') repeat scroll  -6px   0px /*border-box*/ transparent;width:6px;}
.error .input02_re0			{background:url('../images/input02.png') repeat scroll -24px   0px /*border-box*/ transparent;width:6px; left: -6px ; top:0;}
.error.input02_re1			{margin-right: 5px; background:url('../images/input02.png') repeat scroll   0px -75px /*border-box*/ transparent; position: relative; }
.error .input02_re2			{background:url('../images/input02.png') repeat scroll -30px   0px /*border-box*/ transparent;width:6px;  right: -6px; top:0;}
.input02_rf0			{background:url('../images/input02.png') repeat scroll -12px   0px /*border-box*/ transparent;width:6px;  left: -6px ; top:0; }
.input02_rf1			{background:url('../images/input02.png') repeat scroll   0px -50px /*border-box*/ transparent; position: relative;}
.input02_rf2			{background:url('../images/input02.png') repeat scroll -18px   0px /*border-box*/ transparent;width:6px; right: -6px; top:0;}
.input02_lbl			{display:inline-block;color:#000;font:normal normal 400 12px/25px Arial,Helvetica,sans-serif;vertical-align:top;}
.input02_nte,

.input02_rb1            {position: relative;}
.corner                 {position: absolute;}
.input02_ner			{font:normal normal 400 12px/15px Arial,Helvetica,sans-serif; }
.input02_nte			{color:#666666;}
.input02_ner,
.errorMessage			{color:#b83939; clear: both; line-height: 16px;}
.upload01				{border:1px solid #ccc;color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;}
.upload01_hdn			{cursor:default;filter:alpha(opacity=0);float:right;opacity:0;position:absolute;right:-1px;top:0px;width:353px;}
.input-field             {width: 100%;}
.clear_both             {clear: both;}

.fcheck01.ce			{background:url('../images/fcheck01.png') repeat-x scroll -20px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}
.fcheck01.cd			{background:url('../images/fcheck01.png') repeat-x scroll -60px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}
.fcheck01.ue			{background:url('../images/fcheck01.png') repeat-x scroll   0px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}
.fcheck01.ud			{background:url('../images/fcheck01.png') repeat-x scroll -40px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}

.fswitch01_ce, .fswitch01.ce {background:url('../images/fswitch01.png') repeat-x scroll -20px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}

.fswitch01_cd,
.fswitch01.cd           {background:url('../images/fswitch01.png') repeat-x scroll -60px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}

.fswitch01.ue,
.fswitch01_ue
                        {background:url('../images/fswitch01.png') repeat-x scroll   0px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}
.fswitch01.ud			{background:url('../images/fswitch01.png') repeat-x scroll -40px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:3px;vertical-align:middle;width:20px;}
.fswitch02_ce			{background:url('../images/fswitch01.png') repeat-x scroll -20px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:40px;vertical-align:middle;width:20px;}
.fswitch02_cd			{background:url('../images/fswitch01.png') repeat-x scroll -60px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:40px;vertical-align:middle;width:20px;}
.fswitch02_ue			{background:url('../images/fswitch01.png') repeat-x scroll   0px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:40px;vertical-align:middle;width:20px;}
.fswitch02_ud			{background:url('../images/fswitch01.png') repeat-x scroll -40px 0 /*border-box*/ transparent;display:inline-block;height:20px;margin-right:40px;vertical-align:middle;width:20px;}
.fupload01				{display:inline-block;position:relative;}
.fupload01_fld			{border:1px solid #ccc;color:#000;font:normal normal 400 12px/15px Arial,Helvetica,sans-serif;height:15px;margin:0;padding:2px;vertical-align: middle;}
.fupload01_btn			{margin:   0px    0px    0px   10px;vertical-align: middle;}
.drop01,
.dropbox01				{background-color:#fff;border:1px solid #ccc;color:#000;font:normal normal 400 12px/15px Arial,Helvetica,sans-serif;height:21px;margin:0;padding:1px;text-indent:0;}
.drop01_rnd,
.dropbox01_rnd			{background:url('../images/select_bg.png') repeat scroll 0px 0px /*border-box*/ transparent;border:1px solid #ccc;border-radius:4px;padding:3px 3px 3px 5px;}
.dropbox2				{font-size:12px;line-height:18px;margin:2px;padding:1px;width:155px;}
.textarea01				{border:1px solid #ccc;color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:0;padding:4px;}
.textarea02				{border:1px solid #ccc;color:#000;font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin:0;padding:0 5px;}
.button01,
.button02,
.button02_red			{border:0;border-radius:14px;color:#FFF;cursor: pointer;font:normal normal 700 14px/20px Arial,Helvetica,sans-serif;margin:0 0 0 15px;padding:5px 8px 5px 8px;}
.button01				{background:url('../images/btn01.png')            repeat-x scroll 0px   0px /*border-box*/ transparent; !important;margin:-5px 0px 0px 0px;}
.button01:hover			{background:url('../images/btn01.png')            repeat-x scroll 0px -30px /*border-box*/ transparent;}
.button01:active		{background:url('../images/btn01.png')            repeat-x scroll 0px -60px /*border-box*/ transparent;}
.button02				{background:url('../images/btn01.png')            repeat-x scroll 0px   0px /*border-box*/ transparent;}
.button02:hover			{background:url('../images/btn01.png')            repeat-x scroll 0px -30px /*border-box*/ transparent;}
.button02:active		{background:url('../images/btn01.png')            repeat-x scroll 0px -60px /*border-box*/ transparent;}
.button02_red			{background:url('../images/btn02_red.png')        repeat   scroll 0px   0px /*border-box*/ transparent;}
.button02_red:hover		{background:url('../images/btn02_red_hover.png')  repeat   scroll 0px   0px /*border-box*/ transparent;}
.button02_red:active	{background:url('../images/btn02_red_active.png') repeat   scroll 0px   0px /*border-box*/ transparent;}
.link01:hover			{text-decoration:none;}
.ulist01				{margin:   0px    0px    0px   20px;padding:   0px    0px    0px    0px;}
.ulist01 > li			{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;list-style-type:circle;margin:   0px    0px    0px   30px;padding:   0px    0px    0px    0px;}
.i						{display:inline-block;color:#b83939;font:normal normal 700 12px/18px Arial,Helvetica,sans-serif;vertical-align:top;width:5px;}

.underline_blue_dotted	{border:0 dotted #2f2f91;border-bottom-width:1px;color:#2f2f91; cursor: pointer;}

.captcha01				{display:inline-block;margin:0 10px;vertical-align:middle;}		
.captcha01_hdr			{display:inline-block;padding:0 !important;vertical-align:middle;}		
.captcha01_rfs			{font:normal normal 400 10px/12px Arial,Helvetica,sans-serif;}
.captcha01_rfs:hover	{text-decoration:none;}
.captcha01_txt			{display:inline-block;margin:10px 0 -3px 0;vertical-align:middle;}
.captcha01_txt .input02	{text-align:center;}
.captcha01_vrf			{display:inline-block;text-align:center;vertical-align:middle;}

.stripe01				{height:17px;padding:    1px     0px     0px     0px;}
.stripe01_lbl			{float:left;font:normal normal 400 14px/18px Arial,Helvetica,sans-serif;margin-top:-1px;}
.stripe01_bdr			{border-bottom:1px solid #f05a28;margin:   12px     0px     0px     0px;}

.motd					{font:normal normal 400 16px/18px Arial,Helvetica,sans-serif;margin:25px 0 20px 255px;}

.itogo, .b-agent-price	{float:left;font-size:16px;font-weight:700;line-height:26px;margin-left:20px;}

#Popup2{
    visibility: hidden;
    background-color:#fff;
    border:1px solid #c9d808;
    height:360px;
    left: 50%;
    margin-top: -230px;
    margin-left: -400px;
    position:fixed;
    top:50%;
    width:800px;
    z-index:9999;
    -moz-box-shadow:0px 0px 26px 7px #595959;
    -webkit-box-shadow:0px 0px 26px 7px #595959;
    box-shadow:0px 0px 26px 7px #595959;
}
#Popup2 .b-popup__padder{
    padding: 25px 10px 10px 16px;
}
#Popup2Close {
    top: 11px;
    right: 9px;
    background: url('../images/popup_close2.png') no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute
}
#Popup2Close:hover      {
    background: url('../images/popup_close2_hover.png') no-repeat;
}

#Popup2 h2              { position:relative; font:normal normal 700 14px/20px Arial,Helvetica,sans-serif; padding-bottom: 10px;}
#Popup2 label           {display:block;}
#Popup2 p               {font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;margin-top:0px;}

#Popup2 .city_list{
    width: 215px;
    height: 200px;
    padding-top: 10px;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    padding-left: 5px;
   margin-right: 25px !important;
}

#Popup2 ul li  {
    cursor:pointer;
    font:normal normal 400 12px/20px Arial,Helvetica,sans-serif;
    list-style: none;

    padding-left:18px;
}
#Popup2 ul li:hover,
#Popup2 ul li.active    {background-color:#f3f3f3;}
#Popup2Fog              {background-color:#000;filter:alpha(opacity=50);height:100%;left:0;opacity:0.5;position:fixed;top:0;width:100%;z-index:9998;}
#Popup2 #combobox {
    padding-top: 20px;
    padding-left:18px;
}
#Popup2 #input02_lbl    {padding-left: 10px;}

#Popup2.input02_lbl     { padding-top: 6px;}
.ui-combobox-toggle {
    top: -1px;
    bottom: 1px;
}
#Popup2 .ui-combobox .ui-button    {display: none;}

#Popup2 .ui-combobox-input   {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    height: 19px;
    background: #fff;
    border-top:2px solid;
    border-color: #d2d2d2;
    width: 153px;
}
#Popup2  #add-new-city{
    position: absolute;
    bottom: 28px;
    right: 25px;
    font-size: 15.5px;
    font-weight: normal;
    padding: 7px 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    border: none;
    color: #fff;
    cursor: pointer;
    background:url('../images/add_btn.png') no-repeat;
}
#Popup2  #add-new-city:active{
    background:url('../images/add_btn_active.png') no-repeat;
}

.bOffice				{background:url('../images/office.png')                   no-repeat scroll  14px   50%  /*border-box*/ transparent;}
.bOfficeActive			{background:url('../images/office_active.png')            no-repeat scroll  14px   50%  /*border-box*/ transparent;}
.bShop					{background:url('../images/shop.png')                     no-repeat scroll  14px   50%  /*border-box*/ transparent;}
.bShopActive			{background:url('../images/shop_active.png')              no-repeat scroll  14px   50%  /*border-box*/ transparent;}
.bEnterprise			{background:url('../images/enterprise.png')               no-repeat scroll  14px   50%  /*border-box*/ transparent;}
.bEnterpriseActive		{background:url('../images/enterprise_active.png')        no-repeat scroll  14px   50%  /*border-box*/ transparent;}
#bProperty.active		{background:url('../images/object_wizard.png')            no-repeat scroll  25px    0   /*border-box*/ transparent;}
#bProperty          	{background:url('../images/object_wizard.png')            no-repeat scroll  25px  -30px /*border-box*/ transparent;}
#bBusinesscenter.active	{background:url('../images/object_wizard.png')            no-repeat scroll  25px  -60px /*border-box*/ transparent;}
#bBusinesscenter    	{background:url('../images/object_wizard.png')            no-repeat scroll  25px  -90px /*border-box*/ transparent;}
#bBcproperty.active		{background:url('../images/object_wizard.png')            no-repeat scroll  25px -120px /*border-box*/ transparent;}
#bBcproperty    		{background:url('../images/object_wizard.png')            no-repeat scroll  25px -150px /*border-box*/ transparent;}
.bX						{background:url('../images/registration_table_signs.png') no-repeat scroll -15px  0px /*border-box*/ transparent;height:15px;margin:0 auto;width:15px;}
.bV						{background:url('../images/registration_table_signs.png') no-repeat scroll   0px  0px /*border-box*/ transparent;height:15px;margin:0 auto;width:15px;}
.BE6E6E6B               {border-bottom-color:#e6e6e6 !important;}
.GFFF,.bFFF 			{background-color:#fff    !important;}
.bFF7F7F				{background-color:#ff7f7f !important;}
.b7FFF7F				{background-color:#7fff7f !important;}
.b7F7FFF				{background-color:#7f7fff !important;}
.bFF7FFF				{background-color:#ff7fff !important;}
.bFFFF7F				{background-color:#ffff7f !important;}
.B0,.r0					{border:0;}
.B0B                    {border-bottom:0 !important;}
.B1                     {border:1px solid transparent;}
.B1BD                   {border-bottom:1px dotted;}
.B2F2F91                {border-color:#2f2f91;}
.BBED400                {border-color:#bed400;}
.BFFFB                  {border-bottom:1px solid #fff;}
.c2E3192				{color:#2e3192 !important;}
.C2F2F91                {color:#2f2f91 !important;}
.c333					{color:#333    !important;}
.C4C4C4C                {color:#4c4c4c !important;}
.c666					{color:#666    !important;}
.c777					{color:#777    !important;}
.c808080				{color:#808080 !important;}
.c999					{color:#999    !important;}
.CB0C11D                {color:#b0c11d !important;}
.cB83939				{color:#b83939 !important;}
.cC71D1D				{color:#C71D1D !important;}
.cFF970F				{color:#ff970f !important;}
.db						{display:block;}
.di						{display:inline;}
.D,.DL,.dib,.dl			{display:inline-block !important;vertical-align:top;}
.dn						{display:none;}
.t10					{font:normal normal 400 10px/16px Arial,Helvetica,sans-serif;}
.F1218,.t12 			{font:normal normal 400 12px/18px Arial,Helvetica,sans-serif;}
.F1230  				{font:normal normal 400 12px/30px Arial,Helvetica,sans-serif;}
.F1420,.t14				{font:normal normal 400 14px/20px Arial,Helvetica,sans-serif;}
.F1420B                 {font:normal normal 700 14px/20px Arial,Helvetica,sans-serif;}
.F1421                  {font:normal normal 400 14px/21px Arial,Helvetica,sans-serif;}
.t16					{font:normal normal 400 16px/20px Arial,Helvetica,sans-serif;}
.F1626					{font:normal normal 700 16px/26px Arial,Helvetica,sans-serif;}
.F18B					{font:normal normal 700 18px/24px Arial,Helvetica,sans-serif;}
.t18					{font:normal normal 400 18px/22px Arial,Helvetica,sans-serif;line-height:22px;}
.t21					{font:normal normal 700 21px/24px Arial,Helvetica,sans-serif;}
.t22					{font:normal normal 700 22px/25px Arial,Helvetica,sans-serif;}
.F12                    { font-size: 12px !important; font-weight: 400;  line-height: 18px !important; }
.M60T                   { margin-top: 60px !important;}
.header12               {  color: #3F3F3F; font: normal normal 700 24px/35px Arial,Helvetica,sans-serif;    padding: 0;}
.header32               { color: #1F1F1F;  font: normal normal 700 14px/25px Arial,Helvetica,sans-serif;    margin: 0;   padding: 0;  }
.tb						{font-weight:700 !important;}
.H1                     {height:   1px !important;}
.h18					{height:  18px !important;}
.E25                    {height:  25px !important;}
.H30                    {height:  30px !important;}
.h50					{height:  50px !important;}
.h90					{height:  90px !important;}
.E225                   {height: 225px !important;}
.E320                   {height: 320px !important;}
.oh						{overflow:hidden;}
.w30					{width:  30px !important;}
.W40,.w40				{width:  40px !important;}
.W45                    {width:  45px !important;}
.W50,.w50				{width:  50px !important;}
.W55                    {width:  55px !important;}
.W60,.w60				{width:  60px !important;}
.W65                    {width:  65px !important;}
.W70					{width:  70px !important;}
.W75                    {width:  75px !important;}
.W80,.w80				{width:  80px !important;}
.W85                    {width:  85px !important;}
.W90,.w90				{width:  90px !important;}
.W95                    {width:  95px !important;}
.W100,.w100             {width: 100px !important;}
.W110                   {width: 110px !important;}
.W115                   {width: 115px !important;}
.w120					{width: 120px !important;}
.W125                   {width: 125px !important;}
.W130,.w130				{width: 130px !important;}
.W135                   {width: 135px !important;}
.W145                   {width: 145px !important;}
.W150                   {width: 150px !important;}
.W155                   {width: 155px !important;}
.W160					{width: 160px !important;}
.W165                   {width: 165px !important;}
.W170                   {width: 170px !important;}
.W175                   {width: 175px !important;}
.W180,.w180             {width: 180px !important;}
.W185					{width: 185px !important;}
.W190                   {width: 190px !important;}
.W195                   {width: 195px !important;}
.W200,.w200 			{width: 200px !important;}
.W210,.w210 			{width: 210px !important;}
.W170                   {width: 170px !important;}
.W220,.w220             {width: 220px !important;}
.W230                   {width: 230px !important;}
.W240,.w240	    		{width: 240px !important;}
.W250                   {width: 250px !important;}
.W280,.w280				{width: 280px !important;}
.W300,.w300				{width: 300px !important;}
.w306					{width: 306px !important;}
.w325					{width: 325px !important;}
.w350					{width: 355px !important;}
.w355					{width: 355px !important;}
.W365                   {width: 365px !important;}
.W370                   {width: 370px !important;}
.w375					{width: 375px !important;}
.W390                   {width: 390px !important;}
.W410                   {width: 410px !important;}
.W420                   {width: 420px !important;}
.w438					{width: 438px !important;}
.w440					{width: 440px !important;}
.W450,.w450				{width: 450px !important;}
.w490					{width: 490px !important;}
.W500                   {width: 500px !important;}
.w520					{width: 520px !important;}
.W600                   {width: 600px !important;}
.w925					{width: 915px !important;}
.w05p					{width:   5%    !important;}
.w7_15p					{width:   7.15% !important;}
.w35p					{width:  35%    !important;}
.w43_9p					{width:  43.9%  !important;}
.w45p					{width:  45%    !important;}
.w48_9p					{width:  48.9%  !important;}
.w48p					{width:  48%    !important;}
.w50p					{width:  50%    !important;}
.wp						{width: 100%    !important;}
.w305n					{min-width: 305px !important;}
.w340n					{min-width: 340px !important;}
.w480n					{min-width: 480px !important;}
.w335m					{max-width: 335px !important;}
.w365m					{max-width: 365px !important;}

.L,.LL,.ll					{float:left;}
.LR,.lr					{float:right;}

.tc						{text-align:center;}
.tr						{text-align:right;}
.vm						{vertical-align:middle;}
.vt						{vertical-align:top;}

.m_0000 ,.m0			{margin 	  :    0px !important;}
.M2                     {margin       :    2px !important;}
.M4                     {margin       :    4px !important;}
.M9                     {margin       :    9px !important;}
.M_1T                   {margin-top   :   -1px !important;}
.M_2T                   {margin-top   :   -2px !important;}
.M_20T                  {margin-top   :  -20px !important;}
.M5T,.m_0005t,.m5t   	{margin-top   :    5px !important;}
.M10T,.m_0010t,.m10t	{margin-top   :   10px !important;}
.M11T                   {margin-top   :   11px !important;}
.M15T,.m_0015t,.m15t	{margin-top   :   15px !important;}
.M16T                   {margin-top   :   16px !important;}
.M20T,.m_0020t,.m20t    {margin-top   :   20px !important;}
.M25T,.m25t             {margin-top   :   25px !important;}
.M29T                   {margin-top   :   29px !important;}
.M30T,.m_0030t,.m30t	{margin-top   :   30px !important;}
.m40t                   {margin-top   :   40px !important;}
.m_0043t,.m43t			{margin-top   :   43px !important;}
.M50T,.m_0050t,.m50t	{margin-top   :   50px !important;}
.m_0051t,.m51t			{margin-top   :   51px !important;}
.M65T                   {margin-top   :   65px !important;}
.M70T                   {margin-top   :   70px !important;}
.m_0320t,.m320t			{margin-top   :  320px !important;}
.m_0005l,.m5l			{margin-left  :    5px !important;}
.M10L                   {margin-left  :   10px !important;}
.M15L,.m_0015l,.m15l	{margin-left  :   15px !important;}
.M20L,.m20l             {margin-left  :   20px !important;}
.M25L                   {margin-left  :   25px !important;}
.m30l,.M30L             {margin-left  :   30px !important;}
.M35L,.m35l             {margin-left  :   35px !important;}
.M40L,.m40l             {margin-left  :   40px !important;}
.m_0165l,.m165l			{margin-left  :  165px !important;}
.M500L                  {margin-left  :  500px !important;}
.m520l                  {margin-left  :  520px !important;}
.M_1B                   {margin-bottom:   -1px !important;}
.M_2B                   {margin-bottom:   -2px !important;}
.M_3B                   {margin-bottom:   -3px !important;}
.m-0020b,.m20b			{margin-bottom:  -20px !important;}
.M5B,.m_0005b,.m5b		{margin-bottom:    5px !important;}
.M10B,.m_0010b,.m10b	{margin-bottom:   10px !important;}
.M15B,.m_0015b,.m15b	{margin-bottom:   15px !important; margin-top: 20px;}
.m_0020b,.m20b			{margin-bottom:   20px !important;}
.m_0033b,.m33b			{margin-bottom:   33px !important;}
.m_0030b,.m30b			{margin-bottom:   30px !important;}
.m_0000r,.m0r			{margin-right :    0px !important;}
.M3R                    {margin-right :    3px !important;}
.M5R,.m_0005r,.m5r	    {margin-right :    5px !important;}
.m_0010r,.m10r			{margin-right :   10px !important;}
.m_0015r,.m15r			{margin-right :   15px !important;}
.m_0030r,.m30r			{margin-right :   30px !important;}
.M35R,.m_0035r,.m35r	{margin-right :   35px !important;}
.m_0040r,.m40r			{margin-right :   40px !important;}
.m_0045r,.m45r			{margin-right :   45px !important;}
.m_0245r,.m245r			{margin-right :  245px !important;}
.M125L					{margin-left  :  125px !important;}
.m_autoh,.mautoh		{margin-left  :auto    !important;margin-right :auto    !important;	}
.m_0005h,.m5h			{margin-left  :    5px !important;margin-right :    5px !important;	}
.m_0005v,.m5v			{margin-top   :    5px !important;margin-bottom:    5px !important;	}
.m_0000_0000_0000_0002	{margin:    0px     0px     0px     2px !important;}
.m_0000_0000_0000_0013	{margin:    0px     0px     0px    13px !important;}
.m_0000_0000_0002_0093	{margin:    0px     0px     3px    93px !important;}
.m_0000_0000_0002_0121	{margin:    0px     0px     3px   121px !important;}
.m_0000_0000_0005_0000	{margin:    0px     0px     5px     0px !important;}
.m_0000_0000_0006_0000	{margin:    0px     0px     6px     0px !important;}
.m_0000_0000_0009_0000	{margin:    0px     0px     9px     0px !important;}
.m_0000_0000_0011_0000	{margin:    0px     0px    11px     0px !important;}
.m_0000_0000_0015_0000	{margin:    0px     0px    15px     0px !important;}
.m_0000_0000_0020_0000	{margin:    0px     0px    20px     0px !important;}
.m_0004_0000_0016_0000	{margin:    4px     0px    16px     0px !important;}
.m_0000_0015_0000_0000	{margin:    0px    13px     0px     0px !important;}
.m_0000_0030_0000_0000	{margin:    0px    30px     0px     0px !important;}
.m_0000_0245_0000_0000	{margin:    0px   245px     0px     0px !important;}
.m_0000_0245_0000_0002	{margin:    0px   245px     0px     2px !important;}
.m_0000_0245_0015_0000	{margin:    0px   245px    15px     0px !important;}
.m_0005_0000_0020_0002	{margin:    5px     0px    20px     2px !important;}
.m_0008_0000_0008_0000	{margin:    8px     0px     8px     0px !important;}
.m_0013_0000_0015_0000	{margin:   13px     0px    15px     0px !important;}
.m_0010_0000_0000_0000	{margin:   10px     0px     0px     0px !important;}
.m_0015_0000_0000_0000	{margin:   15px     0px     0px     0px !important;}

.p0l					{padding-left:     0px !important;}
.p0010t					{padding-top:     10px !important;}
.p0034t					{padding-top:     34px !important;}
.p0033b					{padding-bottom:     33px !important;}
.p0008v					{padding:    0px     8px     0px     8px !important;}
.p_0000_0000_0010_0000  {padding:    0px     0px    10px     0px !important;}
.p_0010_0000_0010_0000	{padding:   10px     0px    10px     0px !important;}
/*.p7_3_7_0               {padding:7px 3px 7px 0 !important;}*/
.P1                     {padding:1px !important;}
.P3                     {padding:3px !important;}
.P4                     {padding:4px !important;}
.P5                     {padding:5px !important;}
.P5L                    {padding-left:5px;}
.P7B                    {padding-bottom:7px !important;}
.P6T                    {padding-top:6px !important;}
.P7                     {padding:7px;}
.P7V                    {padding-bottom:7px !important;padding-top:7px !important;}
.P8V                    {padding-bottom:8px !important;padding-top:8px !important;}
.P8                     {padding:8px !important;}
.P9                     {padding:9px !important;}
.P10                    {padding:10px !important;}
.p7h                    {padding-top:7px;padding-bottom:7px;}
.P9H                    {padding-left:9px !important;padding-right:9px !important;}
.P10H                   {padding-left:10px !important;padding-right:10px !important;}
.P14H                   {padding-left:14px !important;padding-right:14px !important;}
.P15                    {padding:15px;}
.P15H                   {padding-left:15px !important;padding-right:15px !important;}

.XA                     {position:absolute;}
.XF                     {position:fixed;}
.XR                     {position:relative;}
.X_20L                  {left:-10px;}
.X500L                  {left:500px;}
.X495L                  {left:495px;}
.X510L                  {left:510px;}
.X550L                  {left:550px;}
.X_60T                  {top:-60px;}
.X0T                    {top:0;}
.X30T                   {top:30px;}
.X31T                   {top:31px;}
.X32T                   {top:32px;}
.X40T                   {top:40px;}
.X45T                   {top:45px;}
.X47T                   {top:47px;}
.Z_1                    {z-index:-1;}
.Z1                     {z-index:1;}
.Z2                     {z-index:2;}

#img_box .disable	{display:none;}
div.button {
	height: 20px;
	width: 120px;
	border: 1px solid #440000;
	background-color: #aa0000;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	padding-top: 6px;
}
div.button.hover {
	border: 1px solid #660000;
	background-color: #cc0000;
}
div.button.disable {
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
	color: #aaaaaa;
}
#str {
	padding: 1px 0 1px 20px;
}
#img_box img {
	margin-top: 10px;
}
div.loading {
	background: url(images/indicator.gif) no-repeat left 0;
}
div.resize {
	background: url(images/resize.png) no-repeat left 0 !important;
}
div.chek {
	background: url(images/ok.png) no-repeat left 0 !important;
}
div.cancel {
	background: url(images/cancel.png) no-repeat left 0 !important;
}
div.button {
	height: 20px;
	width: 120px;
	border: 1px solid #440000;
	background-color: #aa0000;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	padding-top: 6px;
}
div.button.hover {
	border: 1px solid #660000;
	background-color: #cc0000;
}
div.button.disable {
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
	color: #aaaaaa;
}
#str {
	padding: 1px 0 1px 20px;
}
#img_box img {
	margin-top: 10px;
}
div.loading {
	background: url(images/indicator.gif) no-repeat left 0;
}
div.resize {
	background: url(images/resize.png) no-repeat left 0 !important;
}
div.chek {
	background: url(images/ok.png) no-repeat left 0 !important;
}
div.cancel {
	background: url(images/cancel.png) no-repeat left 0 !important;
}

.clear, .clearfix{
    clear: both;
    float: none;
}

/*landing page*/


.partners_landing_grp	{height:95px;margin-top:15px;}
.partners_landing_img1	,
.partners_landing_img2	,
.partners_landing_img3	,
.partners_landing_img4	,
.partners_landing_img5	,
.partners_landing_img6	{background:url('../images/partners_landing.png') no-repeat scroll 0 0 #f8f8f8;float:left;height:70px;margin-top:5px;width:105px;}
.partners_landing_img1	{background-position:35px    0  ;}
.partners_landing_img2	{background-position:35px  -70px;}
.partners_landing_img3	{background-position:35px -140px;}
.partners_landing_img4	{background-position:35px -210px;}
.partners_landing_img5	{background-position:35px -280px;}
.partners_landing_img6	{background-position:35px -350px;}
.M5V, .m_0005v, .m5v    { margin-top: 5px !important; margin-bottom: 5px !important;   }
.spoiler1_btn           { border: 0 dotted #2F2F9F; border-bottom-width: 1px; color: #2F2F9F; cursor: pointer;  font-size: 14px;}
.spoiler1               {  background-color: #FBFBFB;  border: 0 solid #BDD300;  border-left-width: 4px;   display: none;   font-size: 12px;   line-height: 20px;  margin: 0;     padding: 10px 10px 10px 35px;    text-indent: -5px; }
.header22               {  color: #2F2F2F;   font-size: 18px;    font-weight: 700;      line-height: 25px;    margin-top: -10px; }
.M25G, .m_0020b, .m20b  { margin-bottom: 25px !important;}
.W505                   { width: 505px !important;}
.W355, .w355            { width: 355px !important;}
.M5T, .m_0005t, .m5t    {  margin-top: 5px !important;}
.W503                   { width: 503px !important; }
.W350, .w350            { width: 350px !important;}
.E90, .h90 {  height: 90px !important;}
.M5T, .m_0005t, .m5t {
    margin-top: 5px !important;
}

.city_container{
    width: 205px;
    float: left;
    padding: 20px 35px 0 0;
}
.city_container h2{
    padding-left: 29px;
    padding-top: 1px;
    padding-bottom: 0;
}
 #Popup2 .i-cityselect__label {
     padding: 0 19px 0 10px;
     font-size: 18px;
     font-weight: bold;
     color: #040404;
     float: left;
 }
.city_container ul li{
    margin: 0 15px 0 15px;
}
    #Popup2 h2 ins.i-shadow{
        background: url('../images/popup_shadow_select_city.jpg') 0px 0px no-repeat;
        display: block;
        width: 200px;
        height: 16px;
        position: absolute;
        top: 23px;
        left: 11px;
        z-index: 10;
    }
    .areas_list_inner{
        padding-top: 21px;
        float: left;
    }
        .areas_list_inner .areas_list{
            height: 200px;
            width: 170px;
            margin-left: -8px;
            padding-right: 32px;
        }
            .areas_list_inner .areas_list{
                height: 200px;
                width: 170px;
                margin-left: -5px;
                padding-top: 7px;
                padding-right: 32px;
            }

.b-city-add{
    padding: 23px 0 0 13px;
    width: 250px;
    float: left;
}
.b-city-add .city-add_fieldset input{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    height: 19px;
    background: #fff;
    border: 1px solid  #d2d2d2;
    border-top: 2px solid  #d2d2d2;
    width: 252px;
    padding: 2px 7px;
}

.city-add_fieldset{
    padding-bottom: 15px;
}
    .city-add_fieldset .fcheck01{
        float: left;
    }
#notificate-me{
    float:left;
    margin: 2px 3px 0 3px;
}

.label-in-city-add{
    padding: 1px;
}
.city-add_fieldset .error{
    margin: 0 !important;
    padding-left: 3px;
    color: #B83939;
}
input.ui-widget.ui-state-default{
    padding-left: 5px;
}
.ui-widget.ui-state-default{
    height: 24px;
    left: -2px;
    top: 8px;
}
.b-city-add__info{
    padding-bottom: 21px;
}

/*Мастер размещения, */
.b-additional_params .params_row{
    width: 290px;
    float:left;
    padding-right: 70px;
}
.b-additional_params .params_row .b-fieldset select{
    width: 145px;
}
.b-additional_params .params_row .b-fieldset .errorMessage{
    padding-top: 10px;
    line-height: 16px;
}
.params_row.wide{
    width: 500px;
    padding-right: 0;
}
    .params_row h1{
        padding-bottom: 10px;
        font: normal 700 14px/20px Arial,Helvetica,sans-serif;
        margin: 0;
    }
    .params_row .row{
        padding-bottom: 10px;
    }
    .params_row .sub-block {
        padding-bottom: 10px;
    }
        .params_row .check3_lbl {
            padding-bottom: 15px;
        }
        .params_row .row label {
            width: 135px;
            padding-top: 2px;
            display: block;
            float: left;
        }
        .params_row .fcheck01 {
            padding-top: 2px;
        }
        .params_row .errorMessage {
            padding-top: 2px;
        }

#addNewObject{
    float: left;
    margin-left: 20px;
}



.b-object-wizard .additional-doc-title{
    color: #000;
    font-weight: bold;
    padding-bottom: 18px;
    font-size: 14px;
}


.b-object-wizard  .item-container{
     width: 70px;
     float: left;
     padding-right: 21px;
}
.b-object-wizard  .b-fieldset.city input{
    cursor: pointer;
}

.b-object-wizard   .item-container img{
    width: 70px;
    height: 70px;
 }

.b-object-wizard   .item-container .item-del-link{
     color: #2e3192;
     text-decoration: underline;
     padding: 4px 0 0 2px;
     display: block;
}
     .b-object-wizard   .item-container .b-photos-description{
            float: left;
        }

    .b-object-wizard .b-photos-add{
        padding-bottom: 20px;
        width: 500px;
        padding-left: 10px;
        padding-right: 220px;
        float: left;
    }
    .b-object-wizard .b-main-field__inner{
        float: left;
        width: 720px;
    }
    .b-object-wizard .b-main-field__inner .b-fieldset-line{
        width: 490px;
    }
    .b-object-wizard .b-main-field__inner .b-fieldset-line#price_line{
        width: 600px;
    }

        .cool-object-wizard_form .b-fieldset-line ,.params_row .b-fieldset{
            padding-bottom: 15px;
        }
        .cool-object-wizard_form .separator3{
            margin: 9px 0;
        }
        .cool-object-wizard_form .form3_set{
            padding-left: 16px;
        }
        .cool-object-wizard_form .b-fieldset-line .b-fieldset{
            float: left;
        }
        .cool-object-wizard_form .b-fieldset-line .b-fieldset#house{
            width: 92px;
            padding-left: 45px;
        }
        .cool-object-wizard_form .b-fieldset-line .b-fieldset#housing{
             width: 109px;
             float: right;
        } .cool-object-wizard_form .b-fieldset-line .b-fieldset#steet_inner{
             width: 180px;
        }
        .cool-object-wizard_form .b-fieldset-line .b-fieldset#storeys_inner{
            width: 136px;
        }
        .cool-object-wizard_form .b-fieldset-line .b-fieldset#storey_inner{
            width: 103px;
            padding-right: 40px;
        }
        .cool-object-wizard_form .b-fieldset-line .b-fieldset#total_item_sqr{
             width: 168px;
             float: right;
        }
        .b-main-field__inner .b-fieldset-line .b-fieldset#price{
            padding-right: 30px;
        }
        .b-main-field__inner .b-fieldset-line .b-fieldset#price label{
            padding-right: 0;
        }
        .b-main-field__inner .b-fieldset-line .b-fieldset#class_inner{
            width: 105px;
        }
        .b-main-field__inner .b-fieldset-line .b-fieldset#price label{
            cursor: pointer;
        }

        .cool-object-wizard_form .b-fieldset-line .b-fieldset#price label span{
            border-bottom:1px dotted #2e3192;
            color: #2e3192;
            line-height: 25px;
            margin-right: 12px;
            margin-left: 1px;
        }

         .b-text-area .textarea01{
            float:left;
             resize: none;
            margin-right: 270px;
            border: 1px solid #CCC;
            color: black;
            font: normal normal 400 12px/18px Arial,Helvetica,sans-serif;
            padding: 4px;
        }

    .b-object-wizard  .b-add-docs .b-load-docs_inner {
        height: 90px;
        padding-bottom: 30px;
    }
    .b-load-docs img{
        padding-left: 30px;
        padding-bottom: 5px;
    }

    .cool-object-wizard_form .b-fieldset label{
        float: left;
        padding: 4px 12px 0 0 ;
        font-size: 13px;
    }
    .cool-object-wizard_form .params_row .b-fieldset label{
        width: 125px;
    }
    .cool-object-wizard_form .b-fieldset .b-fieldset__input-inner,
    .cool-object-wizard_form  .b-fieldset__input-inner {
        float: left;
        position: relative;
        border: 1px solid #d1d1d1;
        padding: 0 3px;
    }

    .cool-object-wizard_form  .b-fieldset__input-inner.select-input {
        border: 0;
        padding-top: 2px;
    }

     .cool-object-wizard_form  .b-fieldset__input-inner.select-input select {
         border: 1px solid #d1d1d1;
     }

    .cool-object-wizard_form  .b-fieldset__input-inner.select-input.error select{
        border: 0;
    }

    .cool-object-wizard_form  .b-agent-price{
        float:left;
    }


    .b-object-wizard .b-fieldset-line  .b-fieldset.right{
         float: right;
    }
    .b-object-wizard .b-fieldset-line .b-fieldset__input-inner.error {

    }
    .cool-object-wizard_form .b-fieldset .b-fieldset__input-inner.error {
        border: 0;
        box-shadow:0px 0px 7px #d37a7a;
    }

    .cool-object-wizard_form .b-fieldset select{
        margin: 0;
        margin-right: -2px;
    }

    .cool-object-wizard_form .b-fieldset__input-inner input,
    .cool-object-wizard_form .b-fieldset__input-inner select{
        height: 21px;
        font-size: 13px;

        border:0;
    }
    .b-object-wizard .b-fieldset-line .b-fieldset__input-inner .star {
        color: #d37a7a;
        text-decoration: none;
        font-weight: bold;
        position: absolute;
        right: -9px;
        top: -3px;
    }
    .b-object-wizard #name_inner .b-fieldset__input-inner{
        width: 348px;
    }
    .b-object-wizard .b-fieldset-line .errorMessage {
        color: #d37a7a;
        padding-top: 10px;
    }
    #object2-form .header2{
        padding-bottom: 12px;
    }
    .b-object-wizard  .b-add-docs .b-load-docs .select_file {
        padding-top: 20px;
    }
    .b-object-wizard #name_inner {
        padding-bottom: 20px;
    }
    .b-object-wizard #name_inner input {
       width: 100%;
    }
    .b-object-wizard #city_inner input {
       width: 185px;
    }
